-
    var menu = [
        {name: "Каталог", link: "catalog.html"},
        {name: "О нас", link: "about.html"},
        {name: "Сотрудничество", link: "contacts.html"},
        {name: "Доставка", link: "reviews.html"},
        {name: "Контакты", link: "contacts.html"},

    ];
-
    var reviews = [
        {title: "Заголовок", img: "./img/divans/divan.svg", text: "Проще и быстрее, чем в обычном магазине!Проще и быстрее, чем в обычном магазине!"},
        {title: "Заголовок", img: "./img/divans/divan3.svg", text: "Проще и быстрее, чем в обычном магазине!Проще и быстрее, чем в обычном магазине!"},
        {title: "Заголовок", img: "./img/divans/divan4.svg", text: "Проще и быстрее, чем в обычном магазине!Проще и быстрее, чем в обычном магазине!"},
    ];
-
    var favoriteItems = [
        {name: "Название дивана", img: "./img/divans/divan.svg", text: "Проще и быстрее, чем в обычном магазине!Проще и быстрее, чем в обычном магазине!"},
        {name: "Название дивана", img: "./img/divans/divan3.svg", text: "Проще и быстрее, чем в обычном магазине!Проще и быстрее, чем в обычном магазине!"},
        {name: "Название дивана", img: "./img/divans/divan4.svg", text: "Проще и быстрее, чем в обычном магазине!Проще и быстрее, чем в обычном магазине!"},
    ];

mixin header(currentpage)
    .tablet-top.d-flex.justify-content-between.align-items-center
        .tab-location.d-flex.align-items-center
            img(src='img/icons/location.svg' alt='')
            span Санкт-Петербург, Ленинский просп., 151, офис 711
        .tab-phone
            img(src='img/icons/phone.svg' alt='')
            span +7 (000) 000-00-00
    .header-block
    .header_wrapper.d-flex.align-items-center
        .container-fluid
            section.header.d-flex.justify-content-between.align-items-center
                a(href="/").header__logo
                    img(src='img/Logo.jpg' alt='Logo')
                .header__location.d-flex.align-items-center
                    img(src='img/icons/location.svg' alt='LocationIcons')
                    span &Scy;&acy;&ncy;&kcy;&tcy;-&Pcy;&iecy;&tcy;&iecy;&rcy;&bcy;&ucy;&rcy;&gcy;
                .header__nav.d-flex.align-items-center
                    ul.d-flex.mb-0
                        for inner in menu

                            li(class=`${inner.name === currentpage ? "active" : ""} ${inner.name === "Каталог" ? "nav-item dropdown" : ""}`)
                                if inner.name === "Каталог"
                                    a(href="#" id="navbarDropdownMenuLink" data-toggle="dropdown").dropdown-toggle= inner.name
                                    .dropdown-menu.dropdown-menu-center
                                        a(href="catalog.html").dropdown-item Прямые
                                        a(href="catalog.html").dropdown-item Модульные диваны
                                        a(href="catalog.html").dropdown-item Мини диваны
                                        a(href="catalog.html").dropdown-item Прямые
                                else
                                    a(href=`${inner.link}`)= inner.name


                .header__favorite.d-flex.align-items-center.position-relative
                    img(src='img/icons/star.svg' alt='LocationIcons')
                    span Избранное
                    .favorite-hover-block


                        for inner in favoriteItems
                            a(href="favorite.html").favorite-block-item.d-flex.flex-column.position-relative
                                .favorite-block-img(style=`background-image:url('${inner.img}')`)
                                .favorite-block-name= inner.name
                                .favorite-block-price 42 990 р.
                                .close
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L9 9L17 1" stroke="#023838" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M17 17L9 9L1 17" stroke="#023838" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                        .favorite-clear Очистить


                .header__phone.d-flex.align-items-center.flex-column
                    .d-flex
                        img(src='img/icons/phone.svg' alt='LocationIcons')
                        span +7 (000) 000-00-00
                    .header-time-work
                        span ПН-ВС 9:00 - 18:00

                .header__call
                    a(href='#') Обратный звонок

                .mobile_call
                    a(href='#')
                        img(src='img/icons/btn_call.svg' alt='')
                .mobile-menu.toggle-button
                    span
                    span
                    span
                .mobile_btn
mixin mobileMenu(currentpage)
    .mobile-menu.d-flex.align-items-center
        .mobile-menu-close
            <svg viewBox="0 0 365.696 365.696" xmlns="http://www.w3.org/2000/svg"><path fill="#023838" d="m243.1875 182.859375 113.132812-113.132813c12.5-12.5 12.5-32.765624 0-45.246093l-15.082031-15.082031c-12.503906-12.503907-32.769531-12.503907-45.25 0l-113.128906 113.128906-113.132813-113.152344c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503907-12.5 32.769531 0 45.25l113.152344 113.152344-113.128906 113.128906c-12.503907 12.503907-12.503907 32.769531 0 45.25l15.082031 15.082031c12.5 12.5 32.765625 12.5 45.246093 0l113.132813-113.132812 113.128906 113.132812c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082031c12.5-12.503906 12.5-32.769531 0-45.25zm0 0"/></svg>
        ul.d-flex.mb-0
            for inner in menu

                if inner.name === currentpage
                    li.active
                        a(href=`${inner.link}`)= inner.name
                else
                    li
                        a(href=`${inner.link}`)= inner.name

mixin navItem
    ul.header-nav-ul
        for inner in menu
            li.header-nav-li
                a.header-nav-link(href=inner.link)
                    span=inner.name
                    span=inner.name
mixin baner(title, decription)
    .container
        .d-flex.flex-column.banner-title-block
            .banner-title= title
            .banner-description= decription
mixin breadCrumbs(arrayLinks, activeName)
    .container
        ul.breadCrumbs-custom.d-flex
            for inner in arrayLinks
                if inner.name === activeName
                    li.breadCrumbs-custom-item.active
                        a.header-nav-link(href=inner.link)= inner.name
                else
                    li.breadCrumbs-custom-item
                        a.header-nav-link(href=inner.link)= inner.name
mixin reviewsBlock(title, text, img,index)
        if index % 2 === 0
            .reviews.d-flex.row.justify-content-between
                .reviews-text-block.flex-column.d-flex.col-lg-5
                    .reviews-title= title
                    .reviews-text.mb-5= text
                    .reviews-text= index
                .reviews-img-block.col-lg-5(style=`background-image:url("${img}")`)
        else
            .reviews.d-flex.flex-row-reverse.row.justify-content-between
                .reviews-text-block.flex-column.d-flex.col-lg-5
                    .reviews-title= title
                    .reviews-text.mb-5= text
                    .reviews-text= index
                .reviews-img-block.col-lg-5(style=`background-image:url("${img}")`)


mixin titleGreen(title, position, classCustom)
    .section_title_green(class=`${position ? 'text-'+position : ""} ${classCustom}`)
        h3= title
mixin reviews(reviews)
    for inner in reviews
        .col-lg-6.col-md-6.col-12
            .reviews-block
                .reviews-name= inner.name
                .reviews-date= inner.date
                .reviews-text= inner.text

mixin carousel( classDiv )
    div(class=classDiv)
        .carousel-custom-item(style='background-image: url("./img/divans/divan2.svg")')
        .carousel-custom-item(style=`background-image: url("./img/divans/divan.svg")`)
        .carousel-custom-item(style=`background-image: url("./img/divans/divan3.svg")`)
        .carousel-custom-item(style=`background-image: url("./img/divans/divan.svg")`)
        .carousel-custom-item(style=`background-image: url("./img/divans/divan.svg")`)
mixin favoriteItem(img, name, dimensions, dimensionsPlace)
    .favorite-page-item.col-lg-12.catalog-item-js.mb-5
        .d-flex.align-items-center
            .catalog-item-img.mr-3(style=`background-image: url("${img}")`)
                .js-hover-slider
                    .js-hover-slider-item(data-img=`./img/divans/divan2.svg`)
                    .js-hover-slider-item(data-img=`./img/divans/divan4.svg`)
                    .js-hover-slider-item(data-img=`./img/divans/divan2.png`)
                    .js-hover-slider-item(data-img=`./img/divans/divan.svg`)
                    .js-hover-slider-item(data-img=`./img/divans/divan3.svg`)

            .d-flex.flex-column.mr-5
                .favorite-page-item-name= name
                .favorite-page-item-price от 25000
            .d-flex
                .favorite-page-block-item.mr-5
                    .favorite-page-block-title Размеры
                    .favorite-page-dimensions-block.d-flex.justify-content-between
                        .d-flex.flex-column.mr-3
                            .favorite-page-dimensions-title Длинна
                            .favorite-page-dimensions-text= dimensions.long

                        .d-flex.flex-column.mr-3
                            .favorite-page-dimensions-title Ширина
                            .favorite-page-dimensions-text= dimensions.long

                        .d-flex.flex-column.mr-3
                            .favorite-page-dimensions-title Высота
                            .favorite-page-dimensions-text= dimensions.long
                .favorite-page-block-item
                    .favorite-page-block-title Спальное место
                    .favorite-page-dimensions-block.d-flex.justify-content-between
                        .d-flex.flex-column.mr-3
                            .favorite-page-dimensions-title Длинна
                            .favorite-page-dimensions-text= dimensions.long

                        .d-flex.flex-column.mr-3
                            .favorite-page-dimensions-title Ширина
                            .favorite-page-dimensions-text= dimensions.long

                        .d-flex.flex-column.mr-3
                            .favorite-page-dimensions-title Высота
                            .favorite-page-dimensions-text= dimensions.long
                .favorite-page-btns.d-flex.flex-column.justify-content-end
                    a(href="#").btn Удалить




mixin caralogItem(img, name, dimensions, dimensionsPlace)
   .catalog-item.col-lg-3.col-md-4.catalog-item-js
        .catalog-item-img(style=`background-image: url("${img}")`)
            .js-hover-slider
                .js-hover-slider-item(data-img=`./img/divans/divan2.svg`)
                .js-hover-slider-item(data-img=`./img/divans/divan4.svg`)
                .js-hover-slider-item(data-img=`./img/divans/divan2.png`)
                .js-hover-slider-item(data-img=`./img/divans/divan.svg`)
                .js-hover-slider-item(data-img=`./img/divans/divan3.svg`)

        .p-5
            .d-flex.align-items-center.justify-content-between
                .catalog-item-name= name


            .catalog-hidden-block-btn.mb-3.catalog-item-mobile-btn
                a(href="catalog-detail.html") Узнать больше
            .catalog-hidden-block

                .catalog-hidden-block-item.mb-3
                    .catalog-hidden-block-title Размеры
                    .catalog-hidden-dimensions-block.d-flex.justify-content-between
                        .d-flex.flex-column
                            .catalog-hidden-dimensions-title Длинна
                            .catalog-hidden-dimensions-text= dimensions.long

                        .d-flex.flex-column
                            .catalog-hidden-dimensions-title Ширина
                            .catalog-hidden-dimensions-text= dimensions.long

                        .d-flex.flex-column
                            .catalog-hidden-dimensions-title Высота
                            .catalog-hidden-dimensions-text= dimensions.long
                .catalog-hidden-block-item.mb-5
                    .catalog-hidden-block-title Спальное место
                    .catalog-hidden-dimensions-block.d-flex.justify-content-between
                        .d-flex.flex-column
                            .catalog-hidden-dimensions-title Длинна
                            .catalog-hidden-dimensions-text= dimensions.long

                        .d-flex.flex-column
                            .catalog-hidden-dimensions-title Ширина
                            .catalog-hidden-dimensions-text= dimensions.long

                        .d-flex.flex-column
                            .catalog-hidden-dimensions-title Высота
                            .catalog-hidden-dimensions-text= dimensions.long
                .d-flex.flex-column.mb-5.align-items-center
                    .catalog-hidden-dimensions-text.price-catalog от 25000 &#8381;
                .catalog-hidden-block-btn.mb-3
                    a(href="catalog-detail.html") Узнать больше
                a(href="#").d-flex.justify-content-center.align-items-center
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24.1424 7.92606C23.7924 7.61827 23.3616 7.41984 22.8964 7.35225L17.2013 6.52471L14.6544 1.36409C14.4463 0.942599 14.1245 0.594095 13.7236 0.35638C13.3517 0.135884 12.9255 0.0192871 12.491 0.0192871C12.0566 0.0192871 11.6303 0.135842 11.2585 0.35638C10.8576 0.594095 10.5358 0.942557 10.3277 1.36409L7.78082 6.52475L2.08572 7.35225C1.62054 7.41984 1.18967 7.61827 0.839717 7.92606C0.515073 8.21158 0.272543 8.58091 0.138271 8.99415C0.00403941 9.40734 -0.0168318 9.8487 0.0779392 10.2705C0.180138 10.7252 0.412086 11.139 0.748722 11.4671L4.86973 15.4841L3.89687 21.1562C3.77633 21.8591 3.96982 22.5737 4.42774 23.1168C4.88906 23.6641 5.56217 23.9779 6.27445 23.9779C6.66237 23.9779 7.05062 23.8816 7.39722 23.6993L12.4911 21.0213L17.5849 23.6993C17.9315 23.8816 18.3197 23.9779 18.7077 23.9779C19.4199 23.9779 20.093 23.6641 20.5544 23.1168C21.0123 22.5737 21.2058 21.8591 21.0853 21.1562L20.1125 15.4841L24.2335 11.4671C24.5701 11.139 24.802 10.7252 24.9042 10.2705C24.999 9.8487 24.9782 9.40734 24.8439 8.99415C24.7096 8.58095 24.467 8.21162 24.1424 7.92606ZM22.9926 10.1942L18.4414 14.6306C18.2918 14.7765 18.2235 14.9866 18.2589 15.1925L19.3333 21.4567C19.4036 21.8671 19.0776 22.2003 18.7077 22.2003C18.61 22.2003 18.5094 22.1771 18.4121 22.126L12.7865 19.1685C12.6941 19.1198 12.5926 19.0955 12.4911 19.0955C12.3897 19.0955 12.2882 19.1198 12.1957 19.1685L6.57009 22.126C6.47287 22.1771 6.37212 22.2003 6.27453 22.2003C5.90457 22.2003 5.57856 21.8671 5.64893 21.4567L6.72332 15.1925C6.75867 14.9866 6.69038 14.7765 6.54075 14.6306L1.98946 10.1942C1.61266 9.82696 1.82058 9.18705 2.34128 9.11136L8.63094 8.19743C8.8377 8.16739 9.01646 8.03752 9.10895 7.85013L11.9218 2.15076C12.0382 1.91483 12.2646 1.79686 12.4911 1.79686C12.7175 1.79686 12.9439 1.91487 13.0603 2.15076L15.8732 7.85013C15.9657 8.03747 16.1444 8.16739 16.3512 8.19743L22.6408 9.11136C23.1615 9.18705 23.3694 9.82696 22.9926 10.1942Z" fill="#C2811D"/>
                    <path d="M18.7089 24C18.3176 24 17.926 23.9028 17.5765 23.719L12.4923 21.0461L7.40812 23.719C7.05854 23.9029 6.66696 24 6.27568 24C5.55726 24 4.87839 23.6835 4.41308 23.1316C3.95122 22.5837 3.75607 21.863 3.87765 21.154L4.84864 15.4928L0.735435 11.4833C0.395936 11.1524 0.162038 10.7351 0.0589265 10.2765C-0.0366743 9.85099 -0.0156372 9.40585 0.119756 8.98913C0.25519 8.57242 0.499836 8.19989 0.82726 7.91192C1.18025 7.60147 1.61485 7.40135 2.08401 7.33317L7.76832 6.50721L10.3104 1.35634C10.5203 0.931195 10.8449 0.579746 11.2492 0.339956C11.6243 0.117551 12.0541 0 12.4924 0C12.9305 0 13.3604 0.117551 13.7355 0.339956C14.1398 0.579705 14.4644 0.931195 14.6743 1.35634L17.2164 6.50721L22.9007 7.33317C23.3699 7.40131 23.8044 7.60143 24.1574 7.91192C24.4849 8.19989 24.7295 8.57242 24.8649 8.98918C25.0003 9.40594 25.0214 9.85108 24.9257 10.2765C24.8227 10.7351 24.5887 11.1524 24.2492 11.4834L20.136 15.4928L21.107 21.154C21.2285 21.863 21.0334 22.5837 20.5715 23.1316C20.1061 23.6834 19.4272 24 18.7089 24ZM12.4923 20.9993L12.5019 21.0043L17.5958 23.6823C17.9394 23.863 18.3243 23.9585 18.7088 23.9585C19.4149 23.9585 20.0823 23.6473 20.5397 23.1048C20.9936 22.5663 21.1855 21.8579 21.066 21.1611L20.0913 15.4782L24.2202 11.4536C24.5539 11.1283 24.7838 10.7181 24.8851 10.2673C24.9791 9.84917 24.9585 9.41158 24.8254 9.00191C24.6922 8.59225 24.4518 8.22607 24.1299 7.943C23.783 7.63786 23.3558 7.44114 22.8946 7.37417L17.1887 6.54509L17.1839 6.5353L14.637 1.37459C14.4308 0.956672 14.1117 0.61124 13.7143 0.375557C13.3456 0.156928 12.9231 0.0413689 12.4923 0.0413689C12.0616 0.0413689 11.639 0.156928 11.2703 0.375557C10.8729 0.611198 10.5539 0.956672 10.3476 1.37459L7.79583 6.54501L7.78504 6.54658L2.08995 7.37413C1.62879 7.44114 1.20161 7.63782 0.854646 7.94296C0.532823 8.22603 0.292327 8.59217 0.159216 9.00187C0.0261052 9.41154 0.0054415 9.84908 0.0994241 10.2673C0.200751 10.7181 0.430708 11.1283 0.764439 11.4536L4.89324 15.4782L4.89142 15.489L3.91856 21.1611C3.79906 21.8579 3.99089 22.5663 4.44487 23.1048C4.90225 23.6473 5.56954 23.9585 6.27572 23.9585C6.66028 23.9585 7.04518 23.8629 7.38882 23.6823L12.4923 20.9993Z" fill="#C2811D"/>
                    </svg>
                    span.ml-3.orange-text Добавить в избранное
mixin projectItem(name, price)
    .project-item.col-lg-3.mb-5
        .project-bg(style="background-image: url('./img/project.png')")
        .project-hover-block
            .project-item-name= name
            .project-item-price= price
            .project-item-btn
                a(href="#") Подробнее

mixin formContent()
    #exampleModalCenter.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-body.p-0
                    .modal-detail-form-bg(style="background-image: url('./img/magnet.png')")
                        .content
                            h3 Название Дивана
                            p какой-то текст
                            .form
                                form.d-flex.flex-column.align-items-center.justify-content-center
                                    input.mb-5(type='text' placeholder='Имя')
                                    input.mb-5(type='text' placeholder='Телефон')
                                    button.mb-5 &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy;


mixin arrowUp()
    #scroller
        img(src="./img/upload.svg")
