.slider_section
    .container
        .flex-container
            .first_block
                h3
                    | &Kcy;&ocy;&mcy;&fcy;&ocy;&rcy;&tcy;&ncy;&acy;&yacy;
                    br
                    |  &mcy;&iecy;&bcy;&iecy;&lcy;&softcy; &dcy;&lcy;&yacy; &zhcy;&icy;&zcy;&ncy;&icy;
                p &Pcy;&rcy;&ocy;&shchcy;&iecy; &icy; &bcy;&ycy;&scy;&tcy;&rcy;&iecy;&iecy;, &chcy;&iecy;&mcy; &vcy; &ocy;&bcy;&ycy;&chcy;&ncy;&ocy;&mcy; &mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy;&iecy;!
                button &Pcy;&ocy;&dcy;&rcy;&ocy;&bcy;&ncy;&iecy;&iecy;
            .second_block
                div
                    img(src='img/divans/divan.svg' alt='')
                div
                    img(src='img/divans/divan2.svg' alt='')
                div
                    img(src='img/divans/divan3.svg' alt='')
                div
                    img(src='img/divans/divan4.svg' alt='')
