.footer
    .container
        .row
            .col-md-3.col-sm-4.text-center.text-sm-left
                h3 Меню
                ul
                    li
                        a(href='#') О нас
                    li
                        a(href='#') Продукция
                    li
                        a(href='#') Отзывы
                    li
                        a(href='#') Контакты
                    li
                        a(href='#') Новости
                    li
                        a(href='#') Доставка
            .col-md-2.col-sm-8.text-center.text-sm-right.text-md-left
                .contact
                    h3 Контакты
                    p
                        | Санкт-Петербург,
                        br
                        | Ленинский пр., 151,
                        br
                        | офис 711
                    p +7 (000) 000-00-00
            .col-md-4
                .map
                    img(src='img/map.png' alt='')
            .col-md-3.text-center.text-sm-left
                .soc
                    h3 Следите за нами
                    img(src='img/soc.png' alt='')
