<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1')
    title aes-g
    link(type="text/css", href="main.css")
body
    include modules/_mixin
    nav#menu
        +mobileMenu("О нас")
    #panel
        .wrapper
            +header("О нас")
            section.banner
                +baner("Комфортная мебель для жизни", "Проще и быстрее, чем в обычном магазине!")

            main.position-relative.overflow-hidden
                .about-circle
                section
                    +breadCrumbs([{link: "/", name: "Главная"}, {link: "/about.html", name: "О нас"}], "О нас")
                section
                    .container
                        for inner, index in reviews
                            +reviewsBlock(inner.title, inner.text, inner.img, index)
                +titleGreen("Сертификаты качества", "", "mb-5")
                section
                    .container
                        +carousel("about-carousel")

            footer
                include modules/footer
    +arrowUp()
