<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1')
    title Каталог
    link(type="text/css", href="main.css")
body
    include modules/_mixin
    nav#menu
        +mobileMenu("Каталог")
    #panel
        .wrapper
            +header("Каталог")
            section.banner.mb-0
                +baner("Комфортная мебель для жизни", "Проще и быстрее, чем в обычном магазине!", true)
        main.mt-5
            section
                +breadCrumbs([{link: "/", name: "Главная"}, {link: "/catalog.html", name: "Каталог"}, {link: "/order.html", name: "Прямые диваны"}], "Прямые диваны")

            //section
            //    .container
            //        .row
            //            .col-12.text-left
            //                +titleGreen("Название дивана", "left", "mt-0")
            section
                .container
                    .row
                        .col-lg-6
                            .row.mb-5
                                .col-lg-12
                                    a(data-fancybox="gallery" href="./img/divans/divan.svg" ).text-decoration-none
                                        .detail-main-img(style="background-image: url('./img/divans/divan.svg')")
                            .row.mb-5
                                .col-lg-3
                                    .detail-small-img
                                        a(data-fancybox="gallery" href="./img/schema.png" ).text-decoration-none
                                            .detail-main-img(style="background-image: url('./img/schema.png")
                                .col-lg-3
                                    .detail-small-img
                                .col-lg-3
                                    .detail-small-img
                                .col-lg-3
                                    .detail-small-img

                        .col-lg-6
                            .detail-title Диван АРГУС-2
                            .detail-price 42 990 р.
                            .detail-btn.mb-5
                                a(href="#")
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24.1424 7.92606C23.7924 7.61827 23.3616 7.41984 22.8964 7.35225L17.2013 6.52471L14.6544 1.36409C14.4463 0.942599 14.1245 0.594095 13.7236 0.35638C13.3517 0.135884 12.9255 0.0192871 12.491 0.0192871C12.0566 0.0192871 11.6303 0.135842 11.2585 0.35638C10.8576 0.594095 10.5358 0.942557 10.3277 1.36409L7.78082 6.52475L2.08572 7.35225C1.62054 7.41984 1.18967 7.61827 0.839717 7.92606C0.515073 8.21158 0.272543 8.58091 0.138271 8.99415C0.00403941 9.40734 -0.0168318 9.8487 0.0779392 10.2705C0.180138 10.7252 0.412086 11.139 0.748722 11.4671L4.86973 15.4841L3.89687 21.1562C3.77633 21.8591 3.96982 22.5737 4.42774 23.1168C4.88906 23.6641 5.56217 23.9779 6.27445 23.9779C6.66237 23.9779 7.05062 23.8816 7.39722 23.6993L12.4911 21.0213L17.5849 23.6993C17.9315 23.8816 18.3197 23.9779 18.7077 23.9779C19.4199 23.9779 20.093 23.6641 20.5544 23.1168C21.0123 22.5737 21.2058 21.8591 21.0853 21.1562L20.1125 15.4841L24.2335 11.4671C24.5701 11.139 24.802 10.7252 24.9042 10.2705C24.999 9.8487 24.9782 9.40734 24.8439 8.99415C24.7096 8.58095 24.467 8.21162 24.1424 7.92606ZM22.9926 10.1942L18.4414 14.6306C18.2918 14.7765 18.2235 14.9866 18.2589 15.1925L19.3333 21.4567C19.4036 21.8671 19.0776 22.2003 18.7077 22.2003C18.61 22.2003 18.5094 22.1771 18.4121 22.126L12.7865 19.1685C12.6941 19.1198 12.5926 19.0955 12.4911 19.0955C12.3897 19.0955 12.2882 19.1198 12.1957 19.1685L6.57009 22.126C6.47287 22.1771 6.37212 22.2003 6.27453 22.2003C5.90457 22.2003 5.57856 21.8671 5.64893 21.4567L6.72332 15.1925C6.75867 14.9866 6.69038 14.7765 6.54075 14.6306L1.98946 10.1942C1.61266 9.82696 1.82058 9.18705 2.34128 9.11136L8.63094 8.19743C8.8377 8.16739 9.01646 8.03752 9.10895 7.85013L11.9218 2.15076C12.0382 1.91483 12.2646 1.79686 12.4911 1.79686C12.7175 1.79686 12.9439 1.91487 13.0603 2.15076L15.8732 7.85013C15.9657 8.03747 16.1444 8.16739 16.3512 8.19743L22.6408 9.11136C23.1615 9.18705 23.3694 9.82696 22.9926 10.1942Z" fill="#0F7C7C"/>
                                    <path d="M18.7089 24C18.3176 24 17.926 23.9028 17.5765 23.719L12.4923 21.0461L7.40812 23.719C7.05854 23.9029 6.66696 24 6.27568 24C5.55726 24 4.87839 23.6835 4.41308 23.1316C3.95122 22.5837 3.75607 21.863 3.87765 21.154L4.84864 15.4928L0.735435 11.4833C0.395936 11.1524 0.162038 10.7351 0.0589265 10.2765C-0.0366743 9.85099 -0.0156372 9.40585 0.119756 8.98913C0.25519 8.57242 0.499836 8.19989 0.82726 7.91192C1.18025 7.60147 1.61485 7.40135 2.08401 7.33317L7.76832 6.50721L10.3104 1.35634C10.5203 0.931195 10.8449 0.579746 11.2492 0.339956C11.6243 0.117551 12.0541 0 12.4924 0C12.9305 0 13.3604 0.117551 13.7355 0.339956C14.1398 0.579705 14.4644 0.931195 14.6743 1.35634L17.2164 6.50721L22.9007 7.33317C23.3699 7.40131 23.8044 7.60143 24.1574 7.91192C24.4849 8.19989 24.7295 8.57242 24.8649 8.98918C25.0003 9.40594 25.0214 9.85108 24.9257 10.2765C24.8227 10.7351 24.5887 11.1524 24.2492 11.4834L20.136 15.4928L21.107 21.154C21.2285 21.863 21.0334 22.5837 20.5715 23.1316C20.1061 23.6834 19.4272 24 18.7089 24ZM12.4923 20.9993L12.5019 21.0043L17.5958 23.6823C17.9394 23.863 18.3243 23.9585 18.7088 23.9585C19.4149 23.9585 20.0823 23.6473 20.5397 23.1048C20.9936 22.5663 21.1855 21.8579 21.066 21.1611L20.0913 15.4782L24.2202 11.4536C24.5539 11.1283 24.7838 10.7181 24.8851 10.2673C24.9791 9.84917 24.9585 9.41158 24.8254 9.00191C24.6922 8.59225 24.4518 8.22607 24.1299 7.943C23.783 7.63786 23.3558 7.44114 22.8946 7.37417L17.1887 6.54509L17.1839 6.5353L14.637 1.37459C14.4308 0.956672 14.1117 0.61124 13.7143 0.375557C13.3456 0.156928 12.9231 0.0413689 12.4923 0.0413689C12.0616 0.0413689 11.639 0.156928 11.2703 0.375557C10.8729 0.611198 10.5539 0.956672 10.3476 1.37459L7.79583 6.54501L7.78504 6.54658L2.08995 7.37413C1.62879 7.44114 1.20161 7.63782 0.854646 7.94296C0.532823 8.22603 0.292327 8.59217 0.159216 9.00187C0.0261052 9.41154 0.0054415 9.84908 0.0994241 10.2673C0.200751 10.7181 0.430708 11.1283 0.764439 11.4536L4.89324 15.4782L4.89142 15.489L3.91856 21.1611C3.79906 21.8579 3.99089 22.5663 4.44487 23.1048C4.90225 23.6473 5.56954 23.9585 6.27572 23.9585C6.66028 23.9585 7.04518 23.8629 7.38882 23.6823L12.4923 20.9993Z" fill="#0F7C7C"/>
                                    </svg>

                                    span Добавить в избранное
                            .detail-description-title Характеристика модели:
                            .d-flex.mb-3
                                .detail-description-text-bold.mr-1 Доступные цвета:
                                .d-flex.align-items-center
                                    .detail-color(style="background-color: red")
                                    .detail-color(style="background-color: green")
                                    .detail-color(style="background-color: yellow")
                                    .detail-color(style="background-color: blue")
                            .d-flex.mb-3
                                .detail-description-text-bold.mr-1 Ткань:
                                .detail-description-text микровелюр
                            .d-flex.mb-3
                                .detail-description-text-bold.mr-1 Каркас:
                                .detail-description-text металлокаркас(профильная труба), фанера, ДВП, ЛДСП ,брус хвойных пород дерева
                            .d-flex.mb-3
                                .detail-description-text-bold.mr-1 Механизм:
                                .detail-description-text тик-так, пантограф

                            .detail-description-title.mt-5 Наполнение:
                            .d-flex.mb-3
                                .detail-description-text сидения/ НПБ, ППУ марки ST, Hollcon </br> подушки/ синтешар, дробленный ППУ
                            .d-flex.mb-3
                                .detail-description-text-bold.mr-1 Бельевой ящик:
                                .detail-description-text есть
                            .d-flex.mb-3
                                .detail-description-text-bold.mr-1 Материал ножек:
                                .detail-description-text хром
                            .d-flex.mb-3
                                .detail-description-text-bold.mr-1 Декор:
                                .detail-description-text багетки МДФ(нет)

                            .d-flex.mb-3
                                .detail-description-text-bold.mr-1 Комплект:
                                .detail-description-text диван(два бока, спинка, сидушка, стабилизатор), две подушки
                            .d-flex.mb-3
                                .detail-description-text-bold.mr-1 Декоративные подушки:
                                .detail-description-text нет
                        .col-lg-6
                            .d-flex.mb-3
                                .detail-description-text-bold.mr-1 Ножки:
                                .detail-description-text металл, хром , дерево
                            .detail-main-description-title.mt-5 Описание
                            .detail-main-description-text.text-md.pl-3 Диван «Аргус»- отличная эргономичная модель для любого помещения! Диван компактный и впишется в любой интерьер! Главными достоинствами дивана являются правильная геометрия, отсутствие лишних элементов, надежный и практичный механизм, наличие бельевых ящиков и изящный внешний вид! Возможность оснащения различным декором!
                            .detail-btn.mb-5.mt-5
                                a(href="#" data-toggle="modal" data-target="#exampleModalCenter")
                                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24.1424 7.92606C23.7924 7.61827 23.3616 7.41984 22.8964 7.35225L17.2013 6.52471L14.6544 1.36409C14.4463 0.942599 14.1245 0.594095 13.7236 0.35638C13.3517 0.135884 12.9255 0.0192871 12.491 0.0192871C12.0566 0.0192871 11.6303 0.135842 11.2585 0.35638C10.8576 0.594095 10.5358 0.942557 10.3277 1.36409L7.78082 6.52475L2.08572 7.35225C1.62054 7.41984 1.18967 7.61827 0.839717 7.92606C0.515073 8.21158 0.272543 8.58091 0.138271 8.99415C0.00403941 9.40734 -0.0168318 9.8487 0.0779392 10.2705C0.180138 10.7252 0.412086 11.139 0.748722 11.4671L4.86973 15.4841L3.89687 21.1562C3.77633 21.8591 3.96982 22.5737 4.42774 23.1168C4.88906 23.6641 5.56217 23.9779 6.27445 23.9779C6.66237 23.9779 7.05062 23.8816 7.39722 23.6993L12.4911 21.0213L17.5849 23.6993C17.9315 23.8816 18.3197 23.9779 18.7077 23.9779C19.4199 23.9779 20.093 23.6641 20.5544 23.1168C21.0123 22.5737 21.2058 21.8591 21.0853 21.1562L20.1125 15.4841L24.2335 11.4671C24.5701 11.139 24.802 10.7252 24.9042 10.2705C24.999 9.8487 24.9782 9.40734 24.8439 8.99415C24.7096 8.58095 24.467 8.21162 24.1424 7.92606ZM22.9926 10.1942L18.4414 14.6306C18.2918 14.7765 18.2235 14.9866 18.2589 15.1925L19.3333 21.4567C19.4036 21.8671 19.0776 22.2003 18.7077 22.2003C18.61 22.2003 18.5094 22.1771 18.4121 22.126L12.7865 19.1685C12.6941 19.1198 12.5926 19.0955 12.4911 19.0955C12.3897 19.0955 12.2882 19.1198 12.1957 19.1685L6.57009 22.126C6.47287 22.1771 6.37212 22.2003 6.27453 22.2003C5.90457 22.2003 5.57856 21.8671 5.64893 21.4567L6.72332 15.1925C6.75867 14.9866 6.69038 14.7765 6.54075 14.6306L1.98946 10.1942C1.61266 9.82696 1.82058 9.18705 2.34128 9.11136L8.63094 8.19743C8.8377 8.16739 9.01646 8.03752 9.10895 7.85013L11.9218 2.15076C12.0382 1.91483 12.2646 1.79686 12.4911 1.79686C12.7175 1.79686 12.9439 1.91487 13.0603 2.15076L15.8732 7.85013C15.9657 8.03747 16.1444 8.16739 16.3512 8.19743L22.6408 9.11136C23.1615 9.18705 23.3694 9.82696 22.9926 10.1942Z" fill="#0F7C7C"/>
                                    <path d="M18.7089 24C18.3176 24 17.926 23.9028 17.5765 23.719L12.4923 21.0461L7.40812 23.719C7.05854 23.9029 6.66696 24 6.27568 24C5.55726 24 4.87839 23.6835 4.41308 23.1316C3.95122 22.5837 3.75607 21.863 3.87765 21.154L4.84864 15.4928L0.735435 11.4833C0.395936 11.1524 0.162038 10.7351 0.0589265 10.2765C-0.0366743 9.85099 -0.0156372 9.40585 0.119756 8.98913C0.25519 8.57242 0.499836 8.19989 0.82726 7.91192C1.18025 7.60147 1.61485 7.40135 2.08401 7.33317L7.76832 6.50721L10.3104 1.35634C10.5203 0.931195 10.8449 0.579746 11.2492 0.339956C11.6243 0.117551 12.0541 0 12.4924 0C12.9305 0 13.3604 0.117551 13.7355 0.339956C14.1398 0.579705 14.4644 0.931195 14.6743 1.35634L17.2164 6.50721L22.9007 7.33317C23.3699 7.40131 23.8044 7.60143 24.1574 7.91192C24.4849 8.19989 24.7295 8.57242 24.8649 8.98918C25.0003 9.40594 25.0214 9.85108 24.9257 10.2765C24.8227 10.7351 24.5887 11.1524 24.2492 11.4834L20.136 15.4928L21.107 21.154C21.2285 21.863 21.0334 22.5837 20.5715 23.1316C20.1061 23.6834 19.4272 24 18.7089 24ZM12.4923 20.9993L12.5019 21.0043L17.5958 23.6823C17.9394 23.863 18.3243 23.9585 18.7088 23.9585C19.4149 23.9585 20.0823 23.6473 20.5397 23.1048C20.9936 22.5663 21.1855 21.8579 21.066 21.1611L20.0913 15.4782L24.2202 11.4536C24.5539 11.1283 24.7838 10.7181 24.8851 10.2673C24.9791 9.84917 24.9585 9.41158 24.8254 9.00191C24.6922 8.59225 24.4518 8.22607 24.1299 7.943C23.783 7.63786 23.3558 7.44114 22.8946 7.37417L17.1887 6.54509L17.1839 6.5353L14.637 1.37459C14.4308 0.956672 14.1117 0.61124 13.7143 0.375557C13.3456 0.156928 12.9231 0.0413689 12.4923 0.0413689C12.0616 0.0413689 11.639 0.156928 11.2703 0.375557C10.8729 0.611198 10.5539 0.956672 10.3476 1.37459L7.79583 6.54501L7.78504 6.54658L2.08995 7.37413C1.62879 7.44114 1.20161 7.63782 0.854646 7.94296C0.532823 8.22603 0.292327 8.59217 0.159216 9.00187C0.0261052 9.41154 0.0054415 9.84908 0.0994241 10.2673C0.200751 10.7181 0.430708 11.1283 0.764439 11.4536L4.89324 15.4782L4.89142 15.489L3.91856 21.1611C3.79906 21.8579 3.99089 22.5663 4.44487 23.1048C4.90225 23.6473 5.56954 23.9585 6.27572 23.9585C6.66028 23.9585 7.04518 23.8629 7.38882 23.6823L12.4923 20.9993Z" fill="#0F7C7C"/>
                                    </svg>

                                    span Заказать
                        .col-lg-6
                            .detail-img-schema
                                a(data-fancybox="gallery" href="./img/schema.png" ).text-decoration-none
                                    .detail-main-img.bg-none(style="background-image: url('./img/schema.png")


                +titleGreen("Какой-то заголовок!", "", "mb-5 mb-5")
                section
                    .container
                        +carousel("about-carousel")




        footer
            include modules/footer
    +formContent()
    +arrowUp()
