<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1')
    title Каталог
    link(type="text/css", href="main.css")
body
    include modules/_mixin
    //PRELOADER SAMVEL
    //#preloader.d-flex.align-items-center.justify-content-center
    //    //<svg width="167" height="227" viewBox="0 0 167 227" fill="none" xmlns="http://www.w3.org/2000/svg">
    //    //<defs>
    //    //<linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
    //    //<stop offset="0" stop-color="#000" ></stop>
    //    //<stop offset="0" stop-color="#fff"></stop>
    //    ////<animate attributeName="x1" dur="5s" from="-100%" to="100%" repeatCount="indefinite" />
    //    //</linearGradient>
    //    //
    //    //</defs>
    //    //
    //    //<path id="zSvg" stroke-width="4" stroke="white" fill="url(#Gradient2)" d="M104.953 224H3.84375V206.422L65.4375 33.5937L8.76562 33.5937V3.92187L104.672 3.92187V22.9062L43.2188 194.328H104.953V224Z"/>
    //    //</svg>
    //
    //    <div class="preloader-content">
    //    <svg id="wordZ"width="167" height="227" viewBox="0 0 167 227" fill="none" xmlns="http://www.w3.org/2000/svg">
    //    <defs>
    //    <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
    //    <stop offset="0" stop-color="#000" ></stop>
    //    <stop offset="0" stop-color="#fff"></stop>
    //    //<animate attributeName="x1" dur="5s" from="-100%" to="100%" repeatCount="indefinite" />
    //    </linearGradient>
    //
    //    </defs>
    //
    //    <path id="zSvg" stroke-width="4" stroke="white" fill="url(#Gradient2)" d="M104.953 224H3.84375V206.422L65.4375 33.5937L8.76562 33.5937V3.92187L104.672 3.92187V22.9062L43.2188 194.328H104.953V224Z"/>
    //    </svg>
    //    <svg id="word" width="741" height="227" viewBox="0 0 741 227" fill="none" xmlns="http://www.w3.org/2000/svg">
    //    <path d="M215.141 224L123.875 224V3.92187L214.297 3.92187V33.0312H156.781V97.2969H206.281V125.844H156.781V194.891H215.141V224ZM350.422 224H316.109L279.828 121.766C279.828 121.766 279.828 115.156 279.828 101.937L312.172 101.937V32.1875H270.688V224H237.781V3.92187L325.109 3.92187C338.328 3.92187 344.938 10.6719 344.938 24.1719V104.187C344.938 113.469 341.797 119.469 335.516 122.187C332.141 123.594 325.016 124.297 314.141 124.297L350.422 224ZM619.578 224H590.75L538.016 85.4844C539.422 92.2344 540.125 97.5312 540.125 101.375V224H508.062V3.92187L536.891 3.92187L589.625 139.625C588.219 132.875 587.516 127.578 587.516 123.734V3.92187L619.578 3.92187V224ZM737.422 224L646.156 224V3.92187L736.578 3.92187V33.0312L679.062 33.0312V97.2969H728.562V125.844H679.062V194.891H737.422V224Z" fill="white"/>
    //    <path d="M481.484 203.891C481.484 217.297 474.828 224 461.516 224H390.078C377.047 224 370.531 217.297 370.531 203.891V24.1719C370.531 10.6719 377.047 3.92187 390.078 3.92187L461.516 3.92187C474.828 3.92187 481.484 10.6719 481.484 24.1719V203.891ZM448.578 195.734V32.1875H403.438V195.734H448.578Z" fill="#F31526"/>
    //    <path d="M215.141 224V227H218.141V224H215.141ZM123.875 224H120.875V227H123.875V224ZM123.875 3.92187V0.921875H120.875V3.92187H123.875ZM214.297 3.92187H217.297V0.921875H214.297V3.92187ZM214.297 33.0312V36.0312L217.297 36.0312V33.0312L214.297 33.0312ZM156.781 33.0312V30.0312H153.781V33.0312H156.781ZM156.781 97.2969H153.781V100.297H156.781V97.2969ZM206.281 97.2969H209.281V94.2969H206.281V97.2969ZM206.281 125.844V128.844H209.281V125.844H206.281ZM156.781 125.844V122.844H153.781V125.844H156.781ZM156.781 194.891H153.781V197.891H156.781V194.891ZM215.141 194.891H218.141V191.891H215.141V194.891ZM215.141 221L123.875 221V227L215.141 227V221ZM126.875 224V3.92187H120.875V224H126.875ZM123.875 6.92187L214.297 6.92187V0.921875L123.875 0.921875V6.92187ZM211.297 3.92187V33.0312L217.297 33.0312V3.92187H211.297ZM214.297 30.0312H156.781V36.0312H214.297V30.0312ZM153.781 33.0312V97.2969H159.781V33.0312H153.781ZM156.781 100.297H206.281V94.2969H156.781V100.297ZM203.281 97.2969V125.844H209.281V97.2969H203.281ZM206.281 122.844H156.781V128.844H206.281V122.844ZM153.781 125.844V194.891H159.781V125.844H153.781ZM156.781 197.891H215.141V191.891H156.781V197.891ZM212.141 194.891V224H218.141V194.891H212.141ZM350.422 224V227H354.706L353.241 222.974L350.422 224ZM316.109 224L313.282 225.003L313.991 227H316.109V224ZM279.828 121.766H276.828V122.282L277.001 122.769L279.828 121.766ZM279.828 101.937V98.9375H276.828V101.937H279.828ZM312.172 101.937V104.937H315.172V101.937H312.172ZM312.172 32.1875H315.172V29.1875H312.172V32.1875ZM270.688 32.1875V29.1875H267.688V32.1875H270.688ZM270.688 224V227H273.688V224H270.688ZM237.781 224H234.781V227H237.781V224ZM237.781 3.92187V0.921875H234.781V3.92187H237.781ZM335.516 122.187L336.669 124.957L336.688 124.949L336.707 124.941L335.516 122.187ZM314.141 124.297V121.297H309.857L311.321 125.323L314.141 124.297ZM350.422 221H316.109V227H350.422V221ZM318.937 222.997L282.655 120.762L277.001 122.769L313.282 225.003L318.937 222.997ZM279.828 121.766C282.828 121.766 282.828 121.766 282.828 121.766C282.828 121.766 282.828 121.765 282.828 121.765C282.828 121.765 282.828 121.765 282.828 121.765C282.828 121.765 282.828 121.765 282.828 121.764C282.828 121.764 282.828 121.764 282.828 121.764C282.828 121.763 282.828 121.763 282.828 121.763C282.828 121.763 282.828 121.762 282.828 121.762C282.828 121.762 282.828 121.761 282.828 121.761C282.828 121.76 282.828 121.76 282.828 121.759C282.828 121.759 282.828 121.759 282.828 121.758C282.828 121.758 282.828 121.757 282.828 121.756C282.828 121.756 282.828 121.755 282.828 121.755C282.828 121.754 282.828 121.753 282.828 121.753C282.828 121.752 282.828 121.752 282.828 121.751C282.828 121.75 282.828 121.749 282.828 121.749C282.828 121.748 282.828 121.747 282.828 121.746C282.828 121.745 282.828 121.745 282.828 121.744C282.828 121.743 282.828 121.742 282.828 121.741C282.828 121.74 282.828 121.739 282.828 121.738C282.828 121.737 282.828 121.736 282.828 121.735C282.828 121.734 282.828 121.733 282.828 121.732C282.828 121.731 282.828 121.73 282.828 121.729C282.828 121.728 282.828 121.727 282.828 121.726C282.828 121.724 282.828 121.723 282.828 121.722C282.828 121.721 282.828 121.72 282.828 121.718C282.828 121.717 282.828 121.716 282.828 121.714C282.828 121.713 282.828 121.712 282.828 121.71C282.828 121.709 282.828 121.708 282.828 121.706C282.828 121.705 282.828 121.703 282.828 121.702C282.828 121.701 282.828 121.699 282.828 121.698C282.828 121.696 282.828 121.695 282.828 121.693C282.828 121.691 282.828 121.69 282.828 121.688C282.828 121.687 282.828 121.685 282.828 121.683C282.828 121.682 282.828 121.68 282.828 121.678C282.828 121.676 282.828 121.675 282.828 121.673C282.828 121.671 282.828 121.669 282.828 121.668C282.828 121.666 282.828 121.664 282.828 121.662C282.828 121.66 282.828 121.658 282.828 121.656C282.828 121.654 282.828 121.653 282.828 121.651C282.828 121.649 282.828 121.647 282.828 121.645C282.828 121.643 282.828 121.641 282.828 121.638C282.828 121.636 282.828 121.634 282.828 121.632C282.828 121.63 282.828 121.628 282.828 121.626C282.828 121.624 282.828 121.621 282.828 121.619C282.828 121.617 282.828 121.615 282.828 121.612C282.828 121.61 282.828 121.608 282.828 121.606C282.828 121.603 282.828 121.601 282.828 121.599C282.828 121.596 282.828 121.594 282.828 121.591C282.828 121.589 282.828 121.586 282.828 121.584C282.828 121.582 282.828 121.579 282.828 121.577C282.828 121.574 282.828 121.571 282.828 121.569C282.828 121.566 282.828 121.564 282.828 121.561C282.828 121.558 282.828 121.556 282.828 121.553C282.828 121.55 282.828 121.548 282.828 121.545C282.828 121.542 282.828 121.54 282.828 121.537C282.828 121.534 282.828 121.531 282.828 121.528C282.828 121.526 282.828 121.523 282.828 121.52C282.828 121.517 282.828 121.514 282.828 121.511C282.828 121.508 282.828 121.505 282.828 121.502C282.828 121.499 282.828 121.496 282.828 121.493C282.828 121.49 282.828 121.487 282.828 121.484C282.828 121.481 282.828 121.478 282.828 121.475C282.828 121.472 282.828 121.469 282.828 121.465C282.828 121.462 282.828 121.459 282.828 121.456C282.828 121.453 282.828 121.449 282.828 121.446C282.828 121.443 282.828 121.439 282.828 121.436C282.828 121.433 282.828 121.429 282.828 121.426C282.828 121.423 282.828 121.419 282.828 121.416C282.828 121.412 282.828 121.409 282.828 121.406C282.828 121.402 282.828 121.399 282.828 121.395C282.828 121.391 282.828 121.388 282.828 121.384C282.828 121.381 282.828 121.377 282.828 121.374C282.828 121.37 282.828 121.366 282.828 121.363C282.828 121.359 282.828 121.355 282.828 121.351C282.828 121.348 282.828 121.344 282.828 121.34C282.828 121.336 282.828 121.333 282.828 121.329C282.828 121.325 282.828 121.321 282.828 121.317C282.828 121.313 282.828 121.309 282.828 121.305C282.828 121.302 282.828 121.298 282.828 121.294C282.828 121.29 282.828 121.286 282.828 121.282C282.828 121.278 282.828 121.273 282.828 121.269C282.828 121.265 282.828 121.261 282.828 121.257C282.828 121.253 282.828 121.249 282.828 121.245C282.828 121.24 282.828 121.236 282.828 121.232C282.828 121.228 282.828 121.223 282.828 121.219C282.828 121.215 282.828 121.211 282.828 121.206C282.828 121.202 282.828 121.198 282.828 121.193C282.828 121.189 282.828 121.184 282.828 121.18C282.828 121.175 282.828 121.171 282.828 121.166C282.828 121.162 282.828 121.157 282.828 121.153C282.828 121.148 282.828 121.144 282.828 121.139C282.828 121.135 282.828 121.13 282.828 121.125C282.828 121.121 282.828 121.116 282.828 121.111C282.828 121.107 282.828 121.102 282.828 121.097C282.828 121.093 282.828 121.088 282.828 121.083C282.828 121.078 282.828 121.073 282.828 121.069C282.828 121.064 282.828 121.059 282.828 121.054C282.828 121.049 282.828 121.044 282.828 121.039C282.828 121.034 282.828 121.029 282.828 121.024C282.828 121.019 282.828 121.014 282.828 121.009C282.828 121.004 282.828 120.999 282.828 120.994C282.828 120.989 282.828 120.984 282.828 120.979C282.828 120.974 282.828 120.968 282.828 120.963C282.828 120.958 282.828 120.953 282.828 120.948C282.828 120.942 282.828 120.937 282.828 120.932C282.828 120.926 282.828 120.921 282.828 120.916C282.828 120.91 282.828 120.905 282.828 120.9C282.828 120.894 282.828 120.889 282.828 120.883C282.828 120.878 282.828 120.872 282.828 120.867C282.828 120.861 282.828 120.856 282.828 120.85C282.828 120.845 282.828 120.839 282.828 120.834C282.828 120.828 282.828 120.822 282.828 120.817C282.828 120.811 282.828 120.805 282.828 120.8C282.828 120.794 282.828 120.788 282.828 120.783C282.828 120.777 282.828 120.771 282.828 120.765C282.828 120.76 282.828 120.754 282.828 120.748C282.828 120.742 282.828 120.736 282.828 120.73C282.828 120.724 282.828 120.718 282.828 120.712C282.828 120.706 282.828 120.701 282.828 120.695C282.828 120.689 282.828 120.682 282.828 120.676C282.828 120.67 282.828 120.664 282.828 120.658C282.828 120.652 282.828 120.646 282.828 120.64C282.828 120.634 282.828 120.628 282.828 120.621C282.828 120.615 282.828 120.609 282.828 120.603C282.828 120.596 282.828 120.59 282.828 120.584C282.828 120.577 282.828 120.571 282.828 120.565C282.828 120.558 282.828 120.552 282.828 120.546C282.828 120.539 282.828 120.533 282.828 120.526C282.828 120.52 282.828 120.513 282.828 120.507C282.828 120.5 282.828 120.494 282.828 120.487C282.828 120.481 282.828 120.474 282.828 120.468C282.828 120.461 282.828 120.454 282.828 120.448C282.828 120.441 282.828 120.434 282.828 120.428C282.828 120.421 282.828 120.414 282.828 120.407C282.828 120.401 282.828 120.394 282.828 120.387C282.828 120.38 282.828 120.373 282.828 120.367C282.828 120.36 282.828 120.353 282.828 120.346C282.828 120.339 282.828 120.332 282.828 120.325C282.828 120.318 282.828 120.311 282.828 120.304C282.828 120.297 282.828 120.29 282.828 120.283C282.828 120.276 282.828 120.269 282.828 120.262C282.828 120.255 282.828 120.248 282.828 120.24C282.828 120.233 282.828 120.226 282.828 120.219C282.828 120.212 282.828 120.204 282.828 120.197C282.828 120.19 282.828 120.183 282.828 120.175C282.828 120.168 282.828 120.161 282.828 120.153C282.828 120.146 282.828 120.139 282.828 120.131C282.828 120.124 282.828 120.116 282.828 120.109C282.828 120.101 282.828 120.094 282.828 120.086C282.828 120.079 282.828 120.071 282.828 120.064C282.828 120.056 282.828 120.049 282.828 120.041C282.828 120.033 282.828 120.026 282.828 120.018C282.828 120.01 282.828 120.003 282.828 119.995C282.828 119.987 282.828 119.98 282.828 119.972C282.828 119.964 282.828 119.956 282.828 119.948C282.828 119.941 282.828 119.933 282.828 119.925C282.828 119.917 282.828 119.909 282.828 119.901C282.828 119.893 282.828 119.885 282.828 119.877C282.828 119.869 282.828 119.861 282.828 119.853C282.828 119.845 282.828 119.837 282.828 119.829C282.828 119.821 282.828 119.813 282.828 119.805C282.828 119.797 282.828 119.789 282.828 119.781C282.828 119.772 282.828 119.764 282.828 119.756C282.828 119.748 282.828 119.74 282.828 119.731C282.828 119.723 282.828 119.715 282.828 119.706C282.828 119.698 282.828 119.69 282.828 119.681C282.828 119.673 282.828 119.665 282.828 119.656C282.828 119.648 282.828 119.639 282.828 119.631C282.828 119.622 282.828 119.614 282.828 119.605C282.828 119.597 282.828 119.588 282.828 119.58C282.828 119.571 282.828 119.563 282.828 119.554C282.828 119.545 282.828 119.537 282.828 119.528C282.828 119.519 282.828 119.511 282.828 119.502C282.828 119.493 282.828 119.484 282.828 119.476C282.828 119.467 282.828 119.458 282.828 119.449C282.828 119.44 282.828 119.432 282.828 119.423C282.828 119.414 282.828 119.405 282.828 119.396C282.828 119.387 282.828 119.378 282.828 119.369C282.828 119.36 282.828 119.351 282.828 119.342C282.828 119.333 282.828 119.324 282.828 119.315C282.828 119.306 282.828 119.297 282.828 119.288C282.828 119.279 282.828 119.269 282.828 119.26C282.828 119.251 282.828 119.242 282.828 119.233C282.828 119.223 282.828 119.214 282.828 119.205C282.828 119.196 282.828 119.186 282.828 119.177C282.828 119.168 282.828 119.158 282.828 119.149C282.828 119.139 282.828 119.13 282.828 119.121C282.828 119.111 282.828 119.102 282.828 119.092C282.828 119.083 282.828 119.073 282.828 119.064C282.828 119.054 282.828 119.045 282.828 119.035C282.828 119.025 282.828 119.016 282.828 119.006C282.828 118.997 282.828 118.987 282.828 118.977C282.828 118.968 282.828 118.958 282.828 118.948C282.828 118.938 282.828 118.929 282.828 118.919C282.828 118.909 282.828 118.899 282.828 118.889C282.828 118.88 282.828 118.87 282.828 118.86C282.828 118.85 282.828 118.84 282.828 118.83C282.828 118.82 282.828 118.81 282.828 118.8C282.828 118.79 282.828 118.78 282.828 118.77C282.828 118.76 282.828 118.75 282.828 118.74C282.828 118.73 282.828 118.72 282.828 118.71C282.828 118.7 282.828 118.689 282.828 118.679C282.828 118.669 282.828 118.659 282.828 118.649C282.828 118.638 282.828 118.628 282.828 118.618C282.828 118.608 282.828 118.597 282.828 118.587C282.828 118.577 282.828 118.566 282.828 118.556C282.828 118.545 282.828 118.535 282.828 118.525C282.828 118.514 282.828 118.504 282.828 118.493C282.828 118.483 282.828 118.472 282.828 118.462C282.828 118.451 282.828 118.441 282.828 118.43C282.828 118.419 282.828 118.409 282.828 118.398C282.828 118.387 282.828 118.377 282.828 118.366C282.828 118.355 282.828 118.345 282.828 118.334C282.828 118.323 282.828 118.312 282.828 118.302C282.828 118.291 282.828 118.28 282.828 118.269C282.828 118.258 282.828 118.248 282.828 118.237C282.828 118.226 282.828 118.215 282.828 118.204C282.828 118.193 282.828 118.182 282.828 118.171C282.828 118.16 282.828 118.149 282.828 118.138C282.828 118.127 282.828 118.116 282.828 118.105C282.828 118.094 282.828 118.083 282.828 118.071C282.828 118.06 282.828 118.049 282.828 118.038C282.828 118.027 282.828 118.015 282.828 118.004C282.828 117.993 282.828 117.982 282.828 117.97C282.828 117.959 282.828 117.948 282.828 117.936C282.828 117.925 282.828 117.914 282.828 117.902C282.828 117.891 282.828 117.88 282.828 117.868C282.828 117.857 282.828 117.845 282.828 117.834C282.828 117.822 282.828 117.811 282.828 117.799C282.828 117.788 282.828 117.776 282.828 117.764C282.828 117.753 282.828 117.741 282.828 117.729C282.828 117.718 282.828 117.706 282.828 117.694C282.828 117.683 282.828 117.671 282.828 117.659C282.828 117.648 282.828 117.636 282.828 117.624C282.828 117.612 282.828 117.6 282.828 117.589C282.828 117.577 282.828 117.565 282.828 117.553C282.828 117.541 282.828 117.529 282.828 117.517C282.828 117.505 282.828 117.493 282.828 117.481C282.828 117.469 282.828 117.457 282.828 117.445C282.828 117.433 282.828 117.421 282.828 117.409C282.828 117.397 282.828 117.385 282.828 117.372C282.828 117.36 282.828 117.348 282.828 117.336C282.828 117.324 282.828 117.312 282.828 117.299C282.828 117.287 282.828 117.275 282.828 117.262C282.828 117.25 282.828 117.238 282.828 117.225C282.828 117.213 282.828 117.201 282.828 117.188C282.828 117.176 282.828 117.163 282.828 117.151C282.828 117.139 282.828 117.126 282.828 117.114C282.828 117.101 282.828 117.089 282.828 117.076C282.828 117.063 282.828 117.051 282.828 117.038C282.828 117.026 282.828 117.013 282.828 117C282.828 116.988 282.828 116.975 282.828 116.962C282.828 116.95 282.828 116.937 282.828 116.924C282.828 116.911 282.828 116.899 282.828 116.886C282.828 116.873 282.828 116.86 282.828 116.847C282.828 116.834 282.828 116.822 282.828 116.809C282.828 116.796 282.828 116.783 282.828 116.77C282.828 116.757 282.828 116.744 282.828 116.731C282.828 116.718 282.828 116.705 282.828 116.692C282.828 116.679 282.828 116.666 282.828 116.652C282.828 116.639 282.828 116.626 282.828 116.613C282.828 116.6 282.828 116.587 282.828 116.574C282.828 116.56 282.828 116.547 282.828 116.534C282.828 116.521 282.828 116.507 282.828 116.494C282.828 116.481 282.828 116.467 282.828 116.454C282.828 116.441 282.828 116.427 282.828 116.414C282.828 116.4 282.828 116.387 282.828 116.373C282.828 116.36 282.828 116.346 282.828 116.333C282.828 116.319 282.828 116.306 282.828 116.292C282.828 116.279 282.828 116.265 282.828 116.252C282.828 116.238 282.828 116.224 282.828 116.211C282.828 116.197 282.828 116.183 282.828 116.17C282.828 116.156 282.828 116.142 282.828 116.128C282.828 116.115 282.828 116.101 282.828 116.087C282.828 116.073 282.828 116.059 282.828 116.045C282.828 116.032 282.828 116.018 282.828 116.004C282.828 115.99 282.828 115.976 282.828 115.962C282.828 115.948 282.828 115.934 282.828 115.92C282.828 115.906 282.828 115.892 282.828 115.878C282.828 115.864 282.828 115.85 282.828 115.836C282.828 115.821 282.828 115.807 282.828 115.793C282.828 115.779 282.828 115.765 282.828 115.751C282.828 115.736 282.828 115.722 282.828 115.708C282.828 115.694 282.828 115.679 282.828 115.665C282.828 115.651 282.828 115.636 282.828 115.622C282.828 115.608 282.828 115.593 282.828 115.579C282.828 115.564 282.828 115.55 282.828 115.535C282.828 115.521 282.828 115.506 282.828 115.492C282.828 115.477 282.828 115.463 282.828 115.448C282.828 115.434 282.828 115.419 282.828 115.404C282.828 115.39 282.828 115.375 282.828 115.36C282.828 115.346 282.828 115.331 282.828 115.316C282.828 115.302 282.828 115.287 282.828 115.272C282.828 115.257 282.828 115.243 282.828 115.228C282.828 115.213 282.828 115.198 282.828 115.183C282.828 115.168 282.828 115.153 282.828 115.139C282.828 115.124 282.828 115.109 282.828 115.094C282.828 115.079 282.828 115.064 282.828 115.049C282.828 115.034 282.828 115.019 282.828 115.003C282.828 114.988 282.828 114.973 282.828 114.958C282.828 114.943 282.828 114.928 282.828 114.913C282.828 114.898 282.828 114.882 282.828 114.867C282.828 114.852 282.828 114.837 282.828 114.821C282.828 114.806 282.828 114.791 282.828 114.775C282.828 114.76 282.828 114.745 282.828 114.729C282.828 114.714 282.828 114.699 282.828 114.683C282.828 114.668 282.828 114.652 282.828 114.637C282.828 114.621 282.828 114.606 282.828 114.59C282.828 114.575 282.828 114.559 282.828 114.544C282.828 114.528 282.828 114.512 282.828 114.497C282.828 114.481 282.828 114.465 282.828 114.45C282.828 114.434 282.828 114.418 282.828 114.403C282.828 114.387 282.828 114.371 282.828 114.355C282.828 114.34 282.828 114.324 282.828 114.308C282.828 114.292 282.828 114.276 282.828 114.26C282.828 114.245 282.828 114.229 282.828 114.213C282.828 114.197 282.828 114.181 282.828 114.165C282.828 114.149 282.828 114.133 282.828 114.117C282.828 114.101 282.828 114.085 282.828 114.069C282.828 114.053 282.828 114.036 282.828 114.02C282.828 114.004 282.828 113.988 282.828 113.972C282.828 113.956 282.828 113.939 282.828 113.923C282.828 113.907 282.828 113.891 282.828 113.874C282.828 113.858 282.828 113.842 282.828 113.825C282.828 113.809 282.828 113.793 282.828 113.776C282.828 113.76 282.828 113.744 282.828 113.727C282.828 113.711 282.828 113.694 282.828 113.678C282.828 113.661 282.828 113.645 282.828 113.628C282.828 113.612 282.828 113.595 282.828 113.578C282.828 113.562 282.828 113.545 282.828 113.529C282.828 113.512 282.828 113.495 282.828 113.479C282.828 113.462 282.828 113.445 282.828 113.428C282.828 113.412 282.828 113.395 282.828 113.378C282.828 113.361 282.828 113.345 282.828 113.328C282.828 113.311 282.828 113.294 282.828 113.277C282.828 113.26 282.828 113.243 282.828 113.226C282.828 113.209 282.828 113.192 282.828 113.175C282.828 113.158 282.828 113.141 282.828 113.124C282.828 113.107 282.828 113.09 282.828 113.073C282.828 113.056 282.828 113.039 282.828 113.022C282.828 113.005 282.828 112.988 282.828 112.97C282.828 112.953 282.828 112.936 282.828 112.919C282.828 112.901 282.828 112.884 282.828 112.867C282.828 112.85 282.828 112.832 282.828 112.815C282.828 112.798 282.828 112.78 282.828 112.763C282.828 112.745 282.828 112.728 282.828 112.711C282.828 112.693 282.828 112.676 282.828 112.658C282.828 112.641 282.828 112.623 282.828 112.606C282.828 112.588 282.828 112.57 282.828 112.553C282.828 112.535 282.828 112.518 282.828 112.5C282.828 112.482 282.828 112.465 282.828 112.447C282.828 112.429 282.828 112.411 282.828 112.394C282.828 112.376 282.828 112.358 282.828 112.34C282.828 112.323 282.828 112.305 282.828 112.287C282.828 112.269 282.828 112.251 282.828 112.233C282.828 112.215 282.828 112.197 282.828 112.18C282.828 112.162 282.828 112.144 282.828 112.126C282.828 112.108 282.828 112.09 282.828 112.072C282.828 112.053 282.828 112.035 282.828 112.017C282.828 111.999 282.828 111.981 282.828 111.963C282.828 111.945 282.828 111.927 282.828 111.908C282.828 111.89 282.828 111.872 282.828 111.854C282.828 111.835 282.828 111.817 282.828 111.799C282.828 111.781 282.828 111.762 282.828 111.744C282.828 111.726 282.828 111.707 282.828 111.689C282.828 111.67 282.828 111.652 282.828 111.633C282.828 111.615 282.828 111.596 282.828 111.578C282.828 111.559 282.828 111.541 282.828 111.522C282.828 111.504 282.828 111.485 282.828 111.467C282.828 111.448 282.828 111.429 282.828 111.411C282.828 111.392 282.828 111.373 282.828 111.355C282.828 111.336 282.828 111.317 282.828 111.298C282.828 111.28 282.828 111.261 282.828 111.242C282.828 111.223 282.828 111.204 282.828 111.186C282.828 111.167 282.828 111.148 282.828 111.129C282.828 111.11 282.828 111.091 282.828 111.072C282.828 111.053 282.828 111.034 282.828 111.015C282.828 110.996 282.828 110.977 282.828 110.958C282.828 110.939 282.828 110.92 282.828 110.901C282.828 110.882 282.828 110.863 282.828 110.843C282.828 110.824 282.828 110.805 282.828 110.786C282.828 110.767 282.828 110.747 282.828 110.728C282.828 110.709 282.828 110.69 282.828 110.67C282.828 110.651 282.828 110.632 282.828 110.612C282.828 110.593 282.828 110.574 282.828 110.554C282.828 110.535 282.828 110.515 282.828 110.496C282.828 110.476 282.828 110.457 282.828 110.437C282.828 110.418 282.828 110.398 282.828 110.379C282.828 110.359 282.828 110.34 282.828 110.32C282.828 110.3 282.828 110.281 282.828 110.261C282.828 110.241 282.828 110.222 282.828 110.202C282.828 110.182 282.828 110.163 282.828 110.143C282.828 110.123 282.828 110.103 282.828 110.083C282.828 110.064 282.828 110.044 282.828 110.024C282.828 110.004 282.828 109.984 282.828 109.964C282.828 109.944 282.828 109.924 282.828 109.904C282.828 109.884 282.828 109.864 282.828 109.844C282.828 109.824 282.828 109.804 282.828 109.784C282.828 109.764 282.828 109.744 282.828 109.724C282.828 109.704 282.828 109.684 282.828 109.663C282.828 109.643 282.828 109.623 282.828 109.603C282.828 109.583 282.828 109.562 282.828 109.542C282.828 109.522 282.828 109.502 282.828 109.481C282.828 109.461 282.828 109.441 282.828 109.42C282.828 109.4 282.828 109.379 282.828 109.359C282.828 109.339 282.828 109.318 282.828 109.298C282.828 109.277 282.828 109.257 282.828 109.236C282.828 109.216 282.828 109.195 282.828 109.175C282.828 109.154 282.828 109.133 282.828 109.113C282.828 109.092 282.828 109.072 282.828 109.051C282.828 109.03 282.828 109.009 282.828 108.989C282.828 108.968 282.828 108.947 282.828 108.926C282.828 108.906 282.828 108.885 282.828 108.864C282.828 108.843 282.828 108.822 282.828 108.802C282.828 108.781 282.828 108.76 282.828 108.739C282.828 108.718 282.828 108.697 282.828 108.676C282.828 108.655 282.828 108.634 282.828 108.613C282.828 108.592 282.828 108.571 282.828 108.55C282.828 108.529 282.828 108.508 282.828 108.486C282.828 108.465 282.828 108.444 282.828 108.423C282.828 108.402 282.828 108.381 282.828 108.359C282.828 108.338 282.828 108.317 282.828 108.296C282.828 108.274 282.828 108.253 282.828 108.232C282.828 108.21 282.828 108.189 282.828 108.168C282.828 108.146 282.828 108.125 282.828 108.103C282.828 108.082 282.828 108.061 282.828 108.039C282.828 108.018 282.828 107.996 282.828 107.975C282.828 107.953 282.828 107.931 282.828 107.91C282.828 107.888 282.828 107.867 282.828 107.845C282.828 107.823 282.828 107.802 282.828 107.78C282.828 107.758 282.828 107.737 282.828 107.715C282.828 107.693 282.828 107.671 282.828 107.65C282.828 107.628 282.828 107.606 282.828 107.584C282.828 107.562 282.828 107.541 282.828 107.519C282.828 107.497 282.828 107.475 282.828 107.453C282.828 107.431 282.828 107.409 282.828 107.387C282.828 107.365 282.828 107.343 282.828 107.321C282.828 107.299 282.828 107.277 282.828 107.255C282.828 107.233 282.828 107.211 282.828 107.189C282.828 107.166 282.828 107.144 282.828 107.122C282.828 107.1 282.828 107.078 282.828 107.055C282.828 107.033 282.828 107.011 282.828 106.989C282.828 106.966 282.828 106.944 282.828 106.922C282.828 106.899 282.828 106.877 282.828 106.855C282.828 106.832 282.828 106.81 282.828 106.787C282.828 106.765 282.828 106.742 282.828 106.72C282.828 106.697 282.828 106.675 282.828 106.652C282.828 106.63 282.828 106.607 282.828 106.585C282.828 106.562 282.828 106.54 282.828 106.517C282.828 106.494 282.828 106.472 282.828 106.449C282.828 106.426 282.828 106.403 282.828 106.381C282.828 106.358 282.828 106.335 282.828 106.312C282.828 106.29 282.828 106.267 282.828 106.244C282.828 106.221 282.828 106.198 282.828 106.175C282.828 106.152 282.828 106.13 282.828 106.107C282.828 106.084 282.828 106.061 282.828 106.038C282.828 106.015 282.828 105.992 282.828 105.969C282.828 105.946 282.828 105.923 282.828 105.899C282.828 105.876 282.828 105.853 282.828 105.83C282.828 105.807 282.828 105.784 282.828 105.761C282.828 105.737 282.828 105.714 282.828 105.691C282.828 105.668 282.828 105.644 282.828 105.621C282.828 105.598 282.828 105.574 282.828 105.551C282.828 105.528 282.828 105.504 282.828 105.481C282.828 105.458 282.828 105.434 282.828 105.411C282.828 105.387 282.828 105.364 282.828 105.34C282.828 105.317 282.828 105.293 282.828 105.27C282.828 105.246 282.828 105.223 282.828 105.199C282.828 105.175 282.828 105.152 282.828 105.128C282.828 105.104 282.828 105.081 282.828 105.057C282.828 105.033 282.828 105.01 282.828 104.986C282.828 104.962 282.828 104.938 282.828 104.915C282.828 104.891 282.828 104.867 282.828 104.843C282.828 104.819 282.828 104.795 282.828 104.772C282.828 104.748 282.828 104.724 282.828 104.7C282.828 104.676 282.828 104.652 282.828 104.628C282.828 104.604 282.828 104.58 282.828 104.556C282.828 104.532 282.828 104.508 282.828 104.483C282.828 104.459 282.828 104.435 282.828 104.411C282.828 104.387 282.828 104.363 282.828 104.339C282.828 104.314 282.828 104.29 282.828 104.266C282.828 104.242 282.828 104.217 282.828 104.193C282.828 104.169 282.828 104.144 282.828 104.12C282.828 104.096 282.828 104.071 282.828 104.047C282.828 104.022 282.828 103.998 282.828 103.974C282.828 103.949 282.828 103.925 282.828 103.9C282.828 103.876 282.828 103.851 282.828 103.827C282.828 103.802 282.828 103.777 282.828 103.753C282.828 103.728 282.828 103.704 282.828 103.679C282.828 103.654 282.828 103.63 282.828 103.605C282.828 103.58 282.828 103.555 282.828 103.531C282.828 103.506 282.828 103.481 282.828 103.456C282.828 103.432 282.828 103.407 282.828 103.382C282.828 103.357 282.828 103.332 282.828 103.307C282.828 103.282 282.828 103.257 282.828 103.232C282.828 103.207 282.828 103.182 282.828 103.157C282.828 103.132 282.828 103.107 282.828 103.082C282.828 103.057 282.828 103.032 282.828 103.007C282.828 102.982 282.828 102.957 282.828 102.932C282.828 102.906 282.828 102.881 282.828 102.856C282.828 102.831 282.828 102.806 282.828 102.78C282.828 102.755 282.828 102.73 282.828 102.704C282.828 102.679 282.828 102.654 282.828 102.628C282.828 102.603 282.828 102.578 282.828 102.552C282.828 102.527 282.828 102.501 282.828 102.476C282.828 102.451 282.828 102.425 282.828 102.399C282.828 102.374 282.828 102.348 282.828 102.323C282.828 102.297 282.828 102.272 282.828 102.246C282.828 102.22 282.828 102.195 282.828 102.169C282.828 102.144 282.828 102.118 282.828 102.092C282.828 102.066 282.828 102.041 282.828 102.015C282.828 101.989 282.828 101.963 282.828 101.937L276.828 101.937C276.828 101.963 276.828 101.989 276.828 102.015C276.828 102.041 276.828 102.066 276.828 102.092C276.828 102.118 276.828 102.144 276.828 102.169C276.828 102.195 276.828 102.22 276.828 102.246C276.828 102.272 276.828 102.297 276.828 102.323C276.828 102.348 276.828 102.374 276.828 102.399C276.828 102.425 276.828 102.451 276.828 102.476C276.828 102.501 276.828 102.527 276.828 102.552C276.828 102.578 276.828 102.603 276.828 102.628C276.828 102.654 276.828 102.679 276.828 102.704C276.828 102.73 276.828 102.755 276.828 102.78C276.828 102.806 276.828 102.831 276.828 102.856C276.828 102.881 276.828 102.906 276.828 102.932C276.828 102.957 276.828 102.982 276.828 103.007C276.828 103.032 276.828 103.057 276.828 103.082C276.828 103.107 276.828 103.132 276.828 103.157C276.828 103.182 276.828 103.207 276.828 103.232C276.828 103.257 276.828 103.282 276.828 103.307C276.828 103.332 276.828 103.357 276.828 103.382C276.828 103.407 276.828 103.432 276.828 103.456C276.828 103.481 276.828 103.506 276.828 103.531C276.828 103.555 276.828 103.58 276.828 103.605C276.828 103.63 276.828 103.654 276.828 103.679C276.828 103.704 276.828 103.728 276.828 103.753C276.828 103.777 276.828 103.802 276.828 103.827C276.828 103.851 276.828 103.876 276.828 103.9C276.828 103.925 276.828 103.949 276.828 103.974C276.828 103.998 276.828 104.022 276.828 104.047C276.828 104.071 276.828 104.096 276.828 104.12C276.828 104.144 276.828 104.169 276.828 104.193C276.828 104.217 276.828 104.242 276.828 104.266C276.828 104.29 276.828 104.314 276.828 104.339C276.828 104.363 276.828 104.387 276.828 104.411C276.828 104.435 276.828 104.459 276.828 104.483C276.828 104.508 276.828 104.532 276.828 104.556C276.828 104.58 276.828 104.604 276.828 104.628C276.828 104.652 276.828 104.676 276.828 104.7C276.828 104.724 276.828 104.748 276.828 104.772C276.828 104.795 276.828 104.819 276.828 104.843C276.828 104.867 276.828 104.891 276.828 104.915C276.828 104.938 276.828 104.962 276.828 104.986C276.828 105.01 276.828 105.033 276.828 105.057C276.828 105.081 276.828 105.104 276.828 105.128C276.828 105.152 276.828 105.175 276.828 105.199C276.828 105.223 276.828 105.246 276.828 105.27C276.828 105.293 276.828 105.317 276.828 105.34C276.828 105.364 276.828 105.387 276.828 105.411C276.828 105.434 276.828 105.458 276.828 105.481C276.828 105.504 276.828 105.528 276.828 105.551C276.828 105.574 276.828 105.598 276.828 105.621C276.828 105.644 276.828 105.668 276.828 105.691C276.828 105.714 276.828 105.737 276.828 105.761C276.828 105.784 276.828 105.807 276.828 105.83C276.828 105.853 276.828 105.876 276.828 105.899C276.828 105.923 276.828 105.946 276.828 105.969C276.828 105.992 276.828 106.015 276.828 106.038C276.828 106.061 276.828 106.084 276.828 106.107C276.828 106.13 276.828 106.152 276.828 106.175C276.828 106.198 276.828 106.221 276.828 106.244C276.828 106.267 276.828 106.29 276.828 106.312C276.828 106.335 276.828 106.358 276.828 106.381C276.828 106.403 276.828 106.426 276.828 106.449C276.828 106.472 276.828 106.494 276.828 106.517C276.828 106.54 276.828 106.562 276.828 106.585C276.828 106.607 276.828 106.63 276.828 106.652C276.828 106.675 276.828 106.697 276.828 106.72C276.828 106.742 276.828 106.765 276.828 106.787C276.828 106.81 276.828 106.832 276.828 106.855C276.828 106.877 276.828 106.899 276.828 106.922C276.828 106.944 276.828 106.966 276.828 106.989C276.828 107.011 276.828 107.033 276.828 107.055C276.828 107.078 276.828 107.1 276.828 107.122C276.828 107.144 276.828 107.166 276.828 107.189C276.828 107.211 276.828 107.233 276.828 107.255C276.828 107.277 276.828 107.299 276.828 107.321C276.828 107.343 276.828 107.365 276.828 107.387C276.828 107.409 276.828 107.431 276.828 107.453C276.828 107.475 276.828 107.497 276.828 107.519C276.828 107.541 276.828 107.562 276.828 107.584C276.828 107.606 276.828 107.628 276.828 107.65C276.828 107.671 276.828 107.693 276.828 107.715C276.828 107.737 276.828 107.758 276.828 107.78C276.828 107.802 276.828 107.823 276.828 107.845C276.828 107.867 276.828 107.888 276.828 107.91C276.828 107.931 276.828 107.953 276.828 107.975C276.828 107.996 276.828 108.018 276.828 108.039C276.828 108.061 276.828 108.082 276.828 108.103C276.828 108.125 276.828 108.146 276.828 108.168C276.828 108.189 276.828 108.21 276.828 108.232C276.828 108.253 276.828 108.274 276.828 108.296C276.828 108.317 276.828 108.338 276.828 108.359C276.828 108.381 276.828 108.402 276.828 108.423C276.828 108.444 276.828 108.465 276.828 108.486C276.828 108.508 276.828 108.529 276.828 108.55C276.828 108.571 276.828 108.592 276.828 108.613C276.828 108.634 276.828 108.655 276.828 108.676C276.828 108.697 276.828 108.718 276.828 108.739C276.828 108.76 276.828 108.781 276.828 108.802C276.828 108.822 276.828 108.843 276.828 108.864C276.828 108.885 276.828 108.906 276.828 108.926C276.828 108.947 276.828 108.968 276.828 108.989C276.828 109.009 276.828 109.03 276.828 109.051C276.828 109.072 276.828 109.092 276.828 109.113C276.828 109.133 276.828 109.154 276.828 109.175C276.828 109.195 276.828 109.216 276.828 109.236C276.828 109.257 276.828 109.277 276.828 109.298C276.828 109.318 276.828 109.339 276.828 109.359C276.828 109.379 276.828 109.4 276.828 109.42C276.828 109.441 276.828 109.461 276.828 109.481C276.828 109.502 276.828 109.522 276.828 109.542C276.828 109.562 276.828 109.583 276.828 109.603C276.828 109.623 276.828 109.643 276.828 109.663C276.828 109.684 276.828 109.704 276.828 109.724C276.828 109.744 276.828 109.764 276.828 109.784C276.828 109.804 276.828 109.824 276.828 109.844C276.828 109.864 276.828 109.884 276.828 109.904C276.828 109.924 276.828 109.944 276.828 109.964C276.828 109.984 276.828 110.004 276.828 110.024C276.828 110.044 276.828 110.064 276.828 110.083C276.828 110.103 276.828 110.123 276.828 110.143C276.828 110.163 276.828 110.182 276.828 110.202C276.828 110.222 276.828 110.241 276.828 110.261C276.828 110.281 276.828 110.3 276.828 110.32C276.828 110.34 276.828 110.359 276.828 110.379C276.828 110.398 276.828 110.418 276.828 110.437C276.828 110.457 276.828 110.476 276.828 110.496C276.828 110.515 276.828 110.535 276.828 110.554C276.828 110.574 276.828 110.593 276.828 110.612C276.828 110.632 276.828 110.651 276.828 110.67C276.828 110.69 276.828 110.709 276.828 110.728C276.828 110.747 276.828 110.767 276.828 110.786C276.828 110.805 276.828 110.824 276.828 110.843C276.828 110.863 276.828 110.882 276.828 110.901C276.828 110.92 276.828 110.939 276.828 110.958C276.828 110.977 276.828 110.996 276.828 111.015C276.828 111.034 276.828 111.053 276.828 111.072C276.828 111.091 276.828 111.11 276.828 111.129C276.828 111.148 276.828 111.167 276.828 111.186C276.828 111.204 276.828 111.223 276.828 111.242C276.828 111.261 276.828 111.28 276.828 111.298C276.828 111.317 276.828 111.336 276.828 111.355C276.828 111.373 276.828 111.392 276.828 111.411C276.828 111.429 276.828 111.448 276.828 111.467C276.828 111.485 276.828 111.504 276.828 111.522C276.828 111.541 276.828 111.559 276.828 111.578C276.828 111.596 276.828 111.615 276.828 111.633C276.828 111.652 276.828 111.67 276.828 111.689C276.828 111.707 276.828 111.726 276.828 111.744C276.828 111.762 276.828 111.781 276.828 111.799C276.828 111.817 276.828 111.835 276.828 111.854C276.828 111.872 276.828 111.89 276.828 111.908C276.828 111.927 276.828 111.945 276.828 111.963C276.828 111.981 276.828 111.999 276.828 112.017C276.828 112.035 276.828 112.053 276.828 112.072C276.828 112.09 276.828 112.108 276.828 112.126C276.828 112.144 276.828 112.162 276.828 112.18C276.828 112.197 276.828 112.215 276.828 112.233C276.828 112.251 276.828 112.269 276.828 112.287C276.828 112.305 276.828 112.323 276.828 112.34C276.828 112.358 276.828 112.376 276.828 112.394C276.828 112.411 276.828 112.429 276.828 112.447C276.828 112.465 276.828 112.482 276.828 112.5C276.828 112.518 276.828 112.535 276.828 112.553C276.828 112.57 276.828 112.588 276.828 112.606C276.828 112.623 276.828 112.641 276.828 112.658C276.828 112.676 276.828 112.693 276.828 112.711C276.828 112.728 276.828 112.745 276.828 112.763C276.828 112.78 276.828 112.798 276.828 112.815C276.828 112.832 276.828 112.85 276.828 112.867C276.828 112.884 276.828 112.901 276.828 112.919C276.828 112.936 276.828 112.953 276.828 112.97C276.828 112.988 276.828 113.005 276.828 113.022C276.828 113.039 276.828 113.056 276.828 113.073C276.828 113.09 276.828 113.107 276.828 113.124C276.828 113.141 276.828 113.158 276.828 113.175C276.828 113.192 276.828 113.209 276.828 113.226C276.828 113.243 276.828 113.26 276.828 113.277C276.828 113.294 276.828 113.311 276.828 113.328C276.828 113.345 276.828 113.361 276.828 113.378C276.828 113.395 276.828 113.412 276.828 113.428C276.828 113.445 276.828 113.462 276.828 113.479C276.828 113.495 276.828 113.512 276.828 113.529C276.828 113.545 276.828 113.562 276.828 113.578C276.828 113.595 276.828 113.612 276.828 113.628C276.828 113.645 276.828 113.661 276.828 113.678C276.828 113.694 276.828 113.711 276.828 113.727C276.828 113.744 276.828 113.76 276.828 113.776C276.828 113.793 276.828 113.809 276.828 113.825C276.828 113.842 276.828 113.858 276.828 113.874C276.828 113.891 276.828 113.907 276.828 113.923C276.828 113.939 276.828 113.956 276.828 113.972C276.828 113.988 276.828 114.004 276.828 114.02C276.828 114.036 276.828 114.053 276.828 114.069C276.828 114.085 276.828 114.101 276.828 114.117C276.828 114.133 276.828 114.149 276.828 114.165C276.828 114.181 276.828 114.197 276.828 114.213C276.828 114.229 276.828 114.245 276.828 114.26C276.828 114.276 276.828 114.292 276.828 114.308C276.828 114.324 276.828 114.34 276.828 114.355C276.828 114.371 276.828 114.387 276.828 114.403C276.828 114.418 276.828 114.434 276.828 114.45C276.828 114.465 276.828 114.481 276.828 114.497C276.828 114.512 276.828 114.528 276.828 114.544C276.828 114.559 276.828 114.575 276.828 114.59C276.828 114.606 276.828 114.621 276.828 114.637C276.828 114.652 276.828 114.668 276.828 114.683C276.828 114.699 276.828 114.714 276.828 114.729C276.828 114.745 276.828 114.76 276.828 114.775C276.828 114.791 276.828 114.806 276.828 114.821C276.828 114.837 276.828 114.852 276.828 114.867C276.828 114.882 276.828 114.898 276.828 114.913C276.828 114.928 276.828 114.943 276.828 114.958C276.828 114.973 276.828 114.988 276.828 115.003C276.828 115.019 276.828 115.034 276.828 115.049C276.828 115.064 276.828 115.079 276.828 115.094C276.828 115.109 276.828 115.124 276.828 115.139C276.828 115.153 276.828 115.168 276.828 115.183C276.828 115.198 276.828 115.213 276.828 115.228C276.828 115.243 276.828 115.257 276.828 115.272C276.828 115.287 276.828 115.302 276.828 115.316C276.828 115.331 276.828 115.346 276.828 115.36C276.828 115.375 276.828 115.39 276.828 115.404C276.828 115.419 276.828 115.434 276.828 115.448C276.828 115.463 276.828 115.477 276.828 115.492C276.828 115.506 276.828 115.521 276.828 115.535C276.828 115.55 276.828 115.564 276.828 115.579C276.828 115.593 276.828 115.608 276.828 115.622C276.828 115.636 276.828 115.651 276.828 115.665C276.828 115.679 276.828 115.694 276.828 115.708C276.828 115.722 276.828 115.736 276.828 115.751C276.828 115.765 276.828 115.779 276.828 115.793C276.828 115.807 276.828 115.821 276.828 115.836C276.828 115.85 276.828 115.864 276.828 115.878C276.828 115.892 276.828 115.906 276.828 115.92C276.828 115.934 276.828 115.948 276.828 115.962C276.828 115.976 276.828 115.99 276.828 116.004C276.828 116.018 276.828 116.032 276.828 116.045C276.828 116.059 276.828 116.073 276.828 116.087C276.828 116.101 276.828 116.115 276.828 116.128C276.828 116.142 276.828 116.156 276.828 116.17C276.828 116.183 276.828 116.197 276.828 116.211C276.828 116.224 276.828 116.238 276.828 116.252C276.828 116.265 276.828 116.279 276.828 116.292C276.828 116.306 276.828 116.319 276.828 116.333C276.828 116.346 276.828 116.36 276.828 116.373C276.828 116.387 276.828 116.4 276.828 116.414C276.828 116.427 276.828 116.441 276.828 116.454C276.828 116.467 276.828 116.481 276.828 116.494C276.828 116.507 276.828 116.521 276.828 116.534C276.828 116.547 276.828 116.56 276.828 116.574C276.828 116.587 276.828 116.6 276.828 116.613C276.828 116.626 276.828 116.639 276.828 116.652C276.828 116.666 276.828 116.679 276.828 116.692C276.828 116.705 276.828 116.718 276.828 116.731C276.828 116.744 276.828 116.757 276.828 116.77C276.828 116.783 276.828 116.796 276.828 116.809C276.828 116.822 276.828 116.834 276.828 116.847C276.828 116.86 276.828 116.873 276.828 116.886C276.828 116.899 276.828 116.911 276.828 116.924C276.828 116.937 276.828 116.95 276.828 116.962C276.828 116.975 276.828 116.988 276.828 117C276.828 117.013 276.828 117.026 276.828 117.038C276.828 117.051 276.828 117.063 276.828 117.076C276.828 117.089 276.828 117.101 276.828 117.114C276.828 117.126 276.828 117.139 276.828 117.151C276.828 117.163 276.828 117.176 276.828 117.188C276.828 117.201 276.828 117.213 276.828 117.225C276.828 117.238 276.828 117.25 276.828 117.262C276.828 117.275 276.828 117.287 276.828 117.299C276.828 117.312 276.828 117.324 276.828 117.336C276.828 117.348 276.828 117.36 276.828 117.372C276.828 117.385 276.828 117.397 276.828 117.409C276.828 117.421 276.828 117.433 276.828 117.445C276.828 117.457 276.828 117.469 276.828 117.481C276.828 117.493 276.828 117.505 276.828 117.517C276.828 117.529 276.828 117.541 276.828 117.553C276.828 117.565 276.828 117.577 276.828 117.589C276.828 117.6 276.828 117.612 276.828 117.624C276.828 117.636 276.828 117.648 276.828 117.659C276.828 117.671 276.828 117.683 276.828 117.694C276.828 117.706 276.828 117.718 276.828 117.729C276.828 117.741 276.828 117.753 276.828 117.764C276.828 117.776 276.828 117.788 276.828 117.799C276.828 117.811 276.828 117.822 276.828 117.834C276.828 117.845 276.828 117.857 276.828 117.868C276.828 117.88 276.828 117.891 276.828 117.902C276.828 117.914 276.828 117.925 276.828 117.936C276.828 117.948 276.828 117.959 276.828 117.97C276.828 117.982 276.828 117.993 276.828 118.004C276.828 118.015 276.828 118.027 276.828 118.038C276.828 118.049 276.828 118.06 276.828 118.071C276.828 118.083 276.828 118.094 276.828 118.105C276.828 118.116 276.828 118.127 276.828 118.138C276.828 118.149 276.828 118.16 276.828 118.171C276.828 118.182 276.828 118.193 276.828 118.204C276.828 118.215 276.828 118.226 276.828 118.237C276.828 118.248 276.828 118.258 276.828 118.269C276.828 118.28 276.828 118.291 276.828 118.302C276.828 118.312 276.828 118.323 276.828 118.334C276.828 118.345 276.828 118.355 276.828 118.366C276.828 118.377 276.828 118.387 276.828 118.398C276.828 118.409 276.828 118.419 276.828 118.43C276.828 118.441 276.828 118.451 276.828 118.462C276.828 118.472 276.828 118.483 276.828 118.493C276.828 118.504 276.828 118.514 276.828 118.525C276.828 118.535 276.828 118.545 276.828 118.556C276.828 118.566 276.828 118.577 276.828 118.587C276.828 118.597 276.828 118.608 276.828 118.618C276.828 118.628 276.828 118.638 276.828 118.649C276.828 118.659 276.828 118.669 276.828 118.679C276.828 118.689 276.828 118.7 276.828 118.71C276.828 118.72 276.828 118.73 276.828 118.74C276.828 118.75 276.828 118.76 276.828 118.77C276.828 118.78 276.828 118.79 276.828 118.8C276.828 118.81 276.828 118.82 276.828 118.83C276.828 118.84 276.828 118.85 276.828 118.86C276.828 118.87 276.828 118.88 276.828 118.889C276.828 118.899 276.828 118.909 276.828 118.919C276.828 118.929 276.828 118.938 276.828 118.948C276.828 118.958 276.828 118.968 276.828 118.977C276.828 118.987 276.828 118.997 276.828 119.006C276.828 119.016 276.828 119.025 276.828 119.035C276.828 119.045 276.828 119.054 276.828 119.064C276.828 119.073 276.828 119.083 276.828 119.092C276.828 119.102 276.828 119.111 276.828 119.121C276.828 119.13 276.828 119.139 276.828 119.149C276.828 119.158 276.828 119.168 276.828 119.177C276.828 119.186 276.828 119.196 276.828 119.205C276.828 119.214 276.828 119.223 276.828 119.233C276.828 119.242 276.828 119.251 276.828 119.26C276.828 119.269 276.828 119.279 276.828 119.288C276.828 119.297 276.828 119.306 276.828 119.315C276.828 119.324 276.828 119.333 276.828 119.342C276.828 119.351 276.828 119.36 276.828 119.369C276.828 119.378 276.828 119.387 276.828 119.396C276.828 119.405 276.828 119.414 276.828 119.423C276.828 119.432 276.828 119.44 276.828 119.449C276.828 119.458 276.828 119.467 276.828 119.476C276.828 119.484 276.828 119.493 276.828 119.502C276.828 119.511 276.828 119.519 276.828 119.528C276.828 119.537 276.828 119.545 276.828 119.554C276.828 119.563 276.828 119.571 276.828 119.58C276.828 119.588 276.828 119.597 276.828 119.605C276.828 119.614 276.828 119.622 276.828 119.631C276.828 119.639 276.828 119.648 276.828 119.656C276.828 119.665 276.828 119.673 276.828 119.681C276.828 119.69 276.828 119.698 276.828 119.706C276.828 119.715 276.828 119.723 276.828 119.731C276.828 119.74 276.828 119.748 276.828 119.756C276.828 119.764 276.828 119.772 276.828 119.781C276.828 119.789 276.828 119.797 276.828 119.805C276.828 119.813 276.828 119.821 276.828 119.829C276.828 119.837 276.828 119.845 276.828 119.853C276.828 119.861 276.828 119.869 276.828 119.877C276.828 119.885 276.828 119.893 276.828 119.901C276.828 119.909 276.828 119.917 276.828 119.925C276.828 119.933 276.828 119.941 276.828 119.948C276.828 119.956 276.828 119.964 276.828 119.972C276.828 119.98 276.828 119.987 276.828 119.995C276.828 120.003 276.828 120.01 276.828 120.018C276.828 120.026 276.828 120.033 276.828 120.041C276.828 120.049 276.828 120.056 276.828 120.064C276.828 120.071 276.828 120.079 276.828 120.086C276.828 120.094 276.828 120.101 276.828 120.109C276.828 120.116 276.828 120.124 276.828 120.131C276.828 120.139 276.828 120.146 276.828 120.153C276.828 120.161 276.828 120.168 276.828 120.175C276.828 120.183 276.828 120.19 276.828 120.197C276.828 120.204 276.828 120.212 276.828 120.219C276.828 120.226 276.828 120.233 276.828 120.24C276.828 120.248 276.828 120.255 276.828 120.262C276.828 120.269 276.828 120.276 276.828 120.283C276.828 120.29 276.828 120.297 276.828 120.304C276.828 120.311 276.828 120.318 276.828 120.325C276.828 120.332 276.828 120.339 276.828 120.346C276.828 120.353 276.828 120.36 276.828 120.367C276.828 120.373 276.828 120.38 276.828 120.387C276.828 120.394 276.828 120.401 276.828 120.407C276.828 120.414 276.828 120.421 276.828 120.428C276.828 120.434 276.828 120.441 276.828 120.448C276.828 120.454 276.828 120.461 276.828 120.468C276.828 120.474 276.828 120.481 276.828 120.487C276.828 120.494 276.828 120.5 276.828 120.507C276.828 120.513 276.828 120.52 276.828 120.526C276.828 120.533 276.828 120.539 276.828 120.546C276.828 120.552 276.828 120.558 276.828 120.565C276.828 120.571 276.828 120.577 276.828 120.584C276.828 120.59 276.828 120.596 276.828 120.603C276.828 120.609 276.828 120.615 276.828 120.621C276.828 120.628 276.828 120.634 276.828 120.64C276.828 120.646 276.828 120.652 276.828 120.658C276.828 120.664 276.828 120.67 276.828 120.676C276.828 120.682 276.828 120.689 276.828 120.695C276.828 120.701 276.828 120.706 276.828 120.712C276.828 120.718 276.828 120.724 276.828 120.73C276.828 120.736 276.828 120.742 276.828 120.748C276.828 120.754 276.828 120.76 276.828 120.765C276.828 120.771 276.828 120.777 276.828 120.783C276.828 120.788 276.828 120.794 276.828 120.8C276.828 120.805 276.828 120.811 276.828 120.817C276.828 120.822 276.828 120.828 276.828 120.834C276.828 120.839 276.828 120.845 276.828 120.85C276.828 120.856 276.828 120.861 276.828 120.867C276.828 120.872 276.828 120.878 276.828 120.883C276.828 120.889 276.828 120.894 276.828 120.9C276.828 120.905 276.828 120.91 276.828 120.916C276.828 120.921 276.828 120.926 276.828 120.932C276.828 120.937 276.828 120.942 276.828 120.948C276.828 120.953 276.828 120.958 276.828 120.963C276.828 120.968 276.828 120.974 276.828 120.979C276.828 120.984 276.828 120.989 276.828 120.994C276.828 120.999 276.828 121.004 276.828 121.009C276.828 121.014 276.828 121.019 276.828 121.024C276.828 121.029 276.828 121.034 276.828 121.039C276.828 121.044 276.828 121.049 276.828 121.054C276.828 121.059 276.828 121.064 276.828 121.069C276.828 121.073 276.828 121.078 276.828 121.083C276.828 121.088 276.828 121.093 276.828 121.097C276.828 121.102 276.828 121.107 276.828 121.111C276.828 121.116 276.828 121.121 276.828 121.125C276.828 121.13 276.828 121.135 276.828 121.139C276.828 121.144 276.828 121.148 276.828 121.153C276.828 121.157 276.828 121.162 276.828 121.166C276.828 121.171 276.828 121.175 276.828 121.18C276.828 121.184 276.828 121.189 276.828 121.193C276.828 121.198 276.828 121.202 276.828 121.206C276.828 121.211 276.828 121.215 276.828 121.219C276.828 121.223 276.828 121.228 276.828 121.232C276.828 121.236 276.828 121.24 276.828 121.245C276.828 121.249 276.828 121.253 276.828 121.257C276.828 121.261 276.828 121.265 276.828 121.269C276.828 121.273 276.828 121.278 276.828 121.282C276.828 121.286 276.828 121.29 276.828 121.294C276.828 121.298 276.828 121.302 276.828 121.305C276.828 121.309 276.828 121.313 276.828 121.317C276.828 121.321 276.828 121.325 276.828 121.329C276.828 121.333 276.828 121.336 276.828 121.34C276.828 121.344 276.828 121.348 276.828 121.351C276.828 121.355 276.828 121.359 276.828 121.363C276.828 121.366 276.828 121.37 276.828 121.374C276.828 121.377 276.828 121.381 276.828 121.384C276.828 121.388 276.828 121.391 276.828 121.395C276.828 121.399 276.828 121.402 276.828 121.406C276.828 121.409 276.828 121.412 276.828 121.416C276.828 121.419 276.828 121.423 276.828 121.426C276.828 121.429 276.828 121.433 276.828 121.436C276.828 121.439 276.828 121.443 276.828 121.446C276.828 121.449 276.828 121.453 276.828 121.456C276.828 121.459 276.828 121.462 276.828 121.465C276.828 121.469 276.828 121.472 276.828 121.475C276.828 121.478 276.828 121.481 276.828 121.484C276.828 121.487 276.828 121.49 276.828 121.493C276.828 121.496 276.828 121.499 276.828 121.502C276.828 121.505 276.828 121.508 276.828 121.511C276.828 121.514 276.828 121.517 276.828 121.52C276.828 121.523 276.828 121.526 276.828 121.528C276.828 121.531 276.828 121.534 276.828 121.537C276.828 121.54 276.828 121.542 276.828 121.545C276.828 121.548 276.828 121.55 276.828 121.553C276.828 121.556 276.828 121.558 276.828 121.561C276.828 121.564 276.828 121.566 276.828 121.569C276.828 121.571 276.828 121.574 276.828 121.577C276.828 121.579 276.828 121.582 276.828 121.584C276.828 121.586 276.828 121.589 276.828 121.591C276.828 121.594 276.828 121.596 276.828 121.599C276.828 121.601 276.828 121.603 276.828 121.606C276.828 121.608 276.828 121.61 276.828 121.612C276.828 121.615 276.828 121.617 276.828 121.619C276.828 121.621 276.828 121.624 276.828 121.626C276.828 121.628 276.828 121.63 276.828 121.632C276.828 121.634 276.828 121.636 276.828 121.638C276.828 121.641 276.828 121.643 276.828 121.645C276.828 121.647 276.828 121.649 276.828 121.651C276.828 121.653 276.828 121.654 276.828 121.656C276.828 121.658 276.828 121.66 276.828 121.662C276.828 121.664 276.828 121.666 276.828 121.668C276.828 121.669 276.828 121.671 276.828 121.673C276.828 121.675 276.828 121.676 276.828 121.678C276.828 121.68 276.828 121.682 276.828 121.683C276.828 121.685 276.828 121.687 276.828 121.688C276.828 121.69 276.828 121.691 276.828 121.693C276.828 121.695 276.828 121.696 276.828 121.698C276.828 121.699 276.828 121.701 276.828 121.702C276.828 121.703 276.828 121.705 276.828 121.706C276.828 121.708 276.828 121.709 276.828 121.71C276.828 121.712 276.828 121.713 276.828 121.714C276.828 121.716 276.828 121.717 276.828 121.718C276.828 121.72 276.828 121.721 276.828 121.722C276.828 121.723 276.828 121.724 276.828 121.726C276.828 121.727 276.828 121.728 276.828 121.729C276.828 121.73 276.828 121.731 276.828 121.732C276.828 121.733 276.828 121.734 276.828 121.735C276.828 121.736 276.828 121.737 276.828 121.738C276.828 121.739 276.828 121.74 276.828 121.741C276.828 121.742 276.828 121.743 276.828 121.744C276.828 121.745 276.828 121.745 276.828 121.746C276.828 121.747 276.828 121.748 276.828 121.749C276.828 121.749 276.828 121.75 276.828 121.751C276.828 121.752 276.828 121.752 276.828 121.753C276.828 121.753 276.828 121.754 276.828 121.755C276.828 121.755 276.828 121.756 276.828 121.756C276.828 121.757 276.828 121.758 276.828 121.758C276.828 121.759 276.828 121.759 276.828 121.759C276.828 121.76 276.828 121.76 276.828 121.761C276.828 121.761 276.828 121.762 276.828 121.762C276.828 121.762 276.828 121.763 276.828 121.763C276.828 121.763 276.828 121.763 276.828 121.764C276.828 121.764 276.828 121.764 276.828 121.764C276.828 121.765 276.828 121.765 276.828 121.765C276.828 121.765 276.828 121.765 276.828 121.765C276.828 121.765 276.828 121.766 276.828 121.766C276.828 121.766 276.828 121.766 279.828 121.766ZM279.828 104.937L312.172 104.937V98.9375L279.828 98.9375V104.937ZM315.172 101.937V32.1875H309.172V101.937H315.172ZM312.172 29.1875H270.688V35.1875H312.172V29.1875ZM267.688 32.1875V224H273.688V32.1875H267.688ZM270.688 221H237.781V227H270.688V221ZM240.781 224V3.92187H234.781V224H240.781ZM237.781 6.92187L325.109 6.92187V0.921875L237.781 0.921875V6.92187ZM325.109 6.92187C331.24 6.92187 335.291 8.48295 337.837 11.0833C340.395 13.6952 341.938 17.8686 341.938 24.1719L347.938 24.1719C347.938 16.9751 346.176 11.0235 342.124 6.8855C338.061 2.7358 332.197 0.921875 325.109 0.921875V6.92187ZM341.938 24.1719V104.187H347.938V24.1719L341.938 24.1719ZM341.938 104.187C341.938 112.781 339.106 117.364 334.324 119.434L336.707 124.941C344.487 121.573 347.938 114.157 347.938 104.187H341.938ZM334.362 119.418C333.1 119.944 330.839 120.439 327.346 120.784C323.918 121.122 319.525 121.297 314.141 121.297V127.297C319.632 127.297 324.239 127.12 327.935 126.755C331.567 126.397 334.557 125.837 336.669 124.957L334.362 119.418ZM311.321 125.323L347.603 225.026L353.241 222.974L316.96 123.271L311.321 125.323ZM448.578 195.734V198.734H451.578V195.734H448.578ZM448.578 32.1875H451.578V29.1875H448.578V32.1875ZM403.438 32.1875V29.1875H400.438V32.1875H403.438ZM403.438 195.734H400.438V198.734H403.438V195.734ZM478.484 203.891C478.484 210.137 476.935 214.269 474.363 216.859C471.796 219.445 467.704 221 461.516 221V227C468.64 227 474.533 225.204 478.621 221.087C482.706 216.973 484.484 211.051 484.484 203.891H478.484ZM461.516 221H390.078V227H461.516V221ZM390.078 221C384.047 221 380.069 219.454 377.569 216.882C375.054 214.294 373.531 210.152 373.531 203.891H367.531C367.531 211.035 369.267 216.949 373.267 221.064C377.282 225.195 383.078 227 390.078 227V221ZM373.531 203.891V24.1719H367.531V203.891H373.531ZM373.531 24.1719C373.531 17.8583 375.056 13.6788 377.576 11.0679C380.078 8.4767 384.052 6.92187 390.078 6.92187V0.921875C383.073 0.921875 377.274 2.74205 373.259 6.90086C369.264 11.0399 367.531 16.9855 367.531 24.1719H373.531ZM390.078 6.92187L461.516 6.92187V0.921875L390.078 0.921875V6.92187ZM461.516 6.92187C467.699 6.92187 471.787 8.48595 474.356 11.0908C476.932 13.7034 478.484 17.8738 478.484 24.1719H484.484C484.484 16.9699 482.708 11.0153 478.628 6.87794C474.541 2.7328 468.645 0.921875 461.516 0.921875V6.92187ZM478.484 24.1719V203.891H484.484V24.1719H478.484ZM451.578 195.734V32.1875H445.578V195.734H451.578ZM448.578 29.1875H403.438V35.1875H448.578V29.1875ZM400.438 32.1875V195.734H406.438V32.1875H400.438ZM403.438 198.734H448.578V192.734H403.438V198.734ZM619.578 224V227H622.578V224H619.578ZM590.75 224L587.946 225.067L588.682 227H590.75V224ZM538.016 85.4844L540.819 84.417L535.079 86.0962L538.016 85.4844ZM540.125 224V227H543.125V224H540.125ZM508.062 224H505.062V227H508.062V224ZM508.062 3.92187V0.921875H505.062V3.92187H508.062ZM536.891 3.92187L539.687 2.83524L538.943 0.921875H536.891V3.92187ZM589.625 139.625L586.829 140.712L592.562 139.013L589.625 139.625ZM587.516 3.92187V0.921875L584.516 0.921875V3.92187L587.516 3.92187ZM619.578 3.92187H622.578V0.921875H619.578V3.92187ZM619.578 221H590.75V227H619.578V221ZM593.554 222.933L540.819 84.417L535.212 86.5518L587.946 225.067L593.554 222.933ZM535.079 86.0962C536.47 92.7766 537.125 97.8378 537.125 101.375H543.125C543.125 97.2247 542.373 91.6922 540.953 84.8725L535.079 86.0962ZM537.125 101.375V224H543.125V101.375H537.125ZM540.125 221H508.062V227H540.125V221ZM511.062 224V3.92187H505.062V224H511.062ZM508.062 6.92187H536.891V0.921875L508.062 0.921875V6.92187ZM534.094 5.00851L586.829 140.712L592.421 138.538L539.687 2.83524L534.094 5.00851ZM592.562 139.013C591.17 132.333 590.516 127.272 590.516 123.734H584.516C584.516 127.885 585.267 133.417 586.688 140.237L592.562 139.013ZM590.516 123.734V3.92187L584.516 3.92187V123.734H590.516ZM587.516 6.92187H619.578V0.921875L587.516 0.921875V6.92187ZM616.578 3.92187V224H622.578V3.92187L616.578 3.92187ZM737.422 224V227H740.422V224H737.422ZM646.156 224H643.156V227H646.156V224ZM646.156 3.92187V0.921875H643.156V3.92187H646.156ZM736.578 3.92187H739.578V0.921875H736.578V3.92187ZM736.578 33.0312V36.0312H739.578V33.0312H736.578ZM679.062 33.0312V30.0312H676.062V33.0312H679.062ZM679.062 97.2969H676.062V100.297H679.062V97.2969ZM728.562 97.2969H731.562V94.2969H728.562V97.2969ZM728.562 125.844V128.844H731.562V125.844H728.562ZM679.062 125.844V122.844H676.062V125.844H679.062ZM679.062 194.891H676.062V197.891H679.062V194.891ZM737.422 194.891H740.422V191.891H737.422V194.891ZM737.422 221L646.156 221V227L737.422 227V221ZM649.156 224V3.92187L643.156 3.92187V224H649.156ZM646.156 6.92187L736.578 6.92187V0.921875L646.156 0.921875V6.92187ZM733.578 3.92187V33.0312H739.578V3.92187H733.578ZM736.578 30.0312L679.062 30.0312V36.0312L736.578 36.0312V30.0312ZM676.062 33.0312V97.2969H682.062V33.0312H676.062ZM679.062 100.297H728.562V94.2969H679.062V100.297ZM725.562 97.2969V125.844H731.562V97.2969H725.562ZM728.562 122.844H679.062V128.844H728.562V122.844ZM676.062 125.844V194.891H682.062V125.844H676.062ZM679.062 197.891H737.422V191.891H679.062V197.891ZM734.422 194.891V224H740.422V194.891H734.422Z" fill="white"/>
    //    </svg>
    //
    //    </div>
    //
    //
    //    <svg id="test2" width="167" height="227" viewBox="0 0 167 227" fill="none" xmlns="http://www.w3.org/2000/svg">
    //    <defs>
    //    <linearGradient id="Gradient2" x1="0" x2="0" y1="0" y2="1">
    //        <stop offset="0" stop-color="#fff"></stop>
    //    //<animate attributeName="x1" dur="5s" from="-100%" to="100%" repeatCount="indefinite" />
    //    </linearGradient>
    //    <linearGradient id="Gradient3" x1="0" x2="0" y1="0" y2="1">
    //    <stop offset="0" stop-color="#000" ></stop>
    //    <stop offset="0" stop-color="#ff0000"></stop>
    //    //<animate attributeName="x1" dur="5s" from="-100%" to="100%" repeatCount="indefinite" />
    //    </linearGradient>
    //    </defs>
    //    <path id="oneSvg" stroke-width="4" stroke="white" fill="url(#Gradient3)" d="M163.875 224H131.531V68.75H118.875V64.3906L135.891 3.92187L163.875 3.92187V224Z"/>
    //    </svg>

    nav#menu
        +mobileMenu("Каталог")
    #panel
        .wrapper
        +header("Каталог")
        section.banner.mb-0
            +baner("Комфортная мебель для жизни", "Проще и быстрее, чем в обычном магазине!", true)
        main

            section
                +breadCrumbs([{link: "/", name: "Главная"}, {link: "/favorite.html", name: "Избранное"}], "Избранное")

            section
                .container
                    .row
                        - for (var x = 0; x < 3; x++)
                            +favoriteItem("./img/divan.png", "Название дивана", {long: "218 см"}, {long: "218 см"})

        footer
            include modules/footer
    +arrowUp()
