<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1')
    title aes-g
    link(type="text/css", href="main.css")
body
    include modules/_mixin
    nav#menu
        +mobileMenu("Контакты")
    #panel
        .wrapper
            +header("Контакты")
            section.banner
                +baner("Комфортная мебель для жизни", "Проще и быстрее, чем в обычном магазине!")

            main
                section
                    +breadCrumbs([{link: "/", name: "Главная"}, {link: "/project.html", name: "Реализованные проекты"}], "Реализованные проекты")

                section
                    .container
                        .row
                            .col-lg-6
                                .order-title.mb-5 Реализованные проекты
                section
                    .container
                        .row
                            - for (var x = 0; x < 16; x++)
                                +projectItem("Название дивана", "25700")



            footer
                include modules/footer
    +arrowUp()
