-
    var reviewsTest = [
        {
            name: "Имя Фамилия",
            date: "17 августа 2020 г.",
            text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
        },
        {
            name: "Имя Фамилия",
            date: "17 августа 2020 г.",
            text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
        },
        {
            name: "Имя Фамилия",
            date: "17 августа 2020 г.",
            text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
        },
        {
            name: "Имя Фамилия",
            date: "17 августа 2020 г.",
            text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
        },
        {
            name: "Имя Фамилия",
            date: "17 августа 2020 г.",
            text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
        },
    ]


<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1')
    title aes-g
    link(type="text/css", href="main.css")
body
    include modules/_mixin
    nav#menu
        +mobileMenu("Отзывы")
    #panel
        .wrapper
            +header("Отзывы")
            main.mt-5
                section
                    +breadCrumbs([{link: "/", name: "Главная"}, {link: "/order.html", name: "Отзывы"}], "Отзывы")

                section
                    .container
                        .row
                            .col-12.text-left
                                +titleGreen("Отзывы", "left", "mt-0")
                    .container
                        .row
                            +reviews(reviewsTest)
                        div(style="clear: both;")



            footer
                include modules/footer
    +arrowUp()
