<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1')
    title aes-g
    link(type="text/css", href="main.css")
body
    include modules/_mixin
    nav#menu
        +mobileMenu("Контакты")
    #panel
        .wrapper
            +header("Контакты")
            section.banner
                +baner("Комфортная мебель для жизни", "Проще и быстрее, чем в обычном магазине!")

            main
                section
                    +breadCrumbs([{link: "/", name: "Главная"}, {link: "/sklad.html", name: "Складская программа"}], "Складская программа")

                section
                    .container
                        .row
                            .col-lg-6
                                .order-title.mb-5 Складская программа
                                .order-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                a(href="#").order-btn Получить прайс-лист
                            .col-lg-6
                                .order-img(style="background-image: url('./img/image_hide.png')")


            footer
                include modules/footer
    +arrowUp()
