.about-circle {
  width: 1378px;
  height: 1378px;
  position: absolute;
  border-radius: 100%;
  border: 1px solid #C2811D;
  opacity: 0.4;
  z-index: -1;
  right: -150px;
  bottom: 0;
}
.about {
  &-carousel {
    width: 100%;
    .carousel-custom-item {
      margin: 10px;
      height: 430px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
.reviews {
  margin-bottom: 90px;
  &-title {
    font-size: 48px;
    line-height: 61px;
    margin-bottom: 30px;
    color: #023838;
    @media (max-width: 1335px) {
      font-size: 40px;
    }
    @media (max-width: 567px) {
      font-size: 30px;
    }
  }
  @media (max-width: 567px) {
    margin-bottom: 40px;
  }
  &-text {
    font-family: "Lato";
    font-size: 18px;
    line-height: 27px;
    color: #303030;
  }
  &-img-block {
    height: 400px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 1335px) {
      height: 300px;
    }
    @media (max-width: 567px) {
      height: 200px;
    }
    &.margin-left{
      margin-left: 150px;
    }
    &.margin-right{
      margin-right: 150px;
    }
  }
}
