
/* Mobile */
@media only screen and (min-width: 0px) and (max-width: 575px) {
    .custom-row {
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, auto);
        align-items: center;
        justify-content: center;
    }
    .contact, .soc {
        margin-top: 25px;
    }
    .sklad_block {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background: url("../img/skled.png") no-repeat center;
        border-radius: 10px;
        background-size: cover;
        padding: 30px;
        text-align: center;
    }
    .magnet {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        background: url("../img/magnet.png") no-repeat center;
        background-size: cover;
        margin: 120px 0;
        padding: 30px;
    }

    .magnet:before {
        content: '';
        width: 100%;
        height: 100%;
        background: black;
        position: absolute;
        opacity: 0.8;
    }
    .form form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form input {
        margin-bottom: 15px;
    }
    .ship_block {
        display: block !important;
        width: 100% !important;
    }
    .left {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .ship_block img {
        width: 100%;
    }
    .completed_left {
        margin-bottom: 50px;
    }
    .swiper-slide {
        width: 75% !important;
        height: 473px;
        position: relative;
    }

    .swiper-slide:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #023838 0%, rgba(2, 56, 56, 0) 100%);
        border-radius: 10px;
        transform: rotate(-180deg);
    }
 .mobile_call {
     display: block;
}
 .mobile_btn {
     display: block;
 }
 .tablet-top {
     display: none !important;
 }
 .header__phone,
 .header__favorite,
 .header__location,
 .header__call,
 .header__nav{
    display: none !important;
}
 .header__logo {
     width: 185px;
 }
 .news_block_mini {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
}

/* Tablet */
@media only screen and (min-width: 575px) and (max-width: 768px) {
    .custom-row {
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, auto);
        align-items: center;
        justify-content: center;
    }
    .sklad_block {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background: url("../img/skled.png") no-repeat center;
        border-radius: 10px;
        background-size: cover;
        padding: 30px;
        text-align: center;
    }
    .magnet {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        background: url("../img/magnet.png") no-repeat center;
        background-size: cover;
        margin: 120px 0;
        padding: 30px;
    }

    .magnet:before {
        content: '';
        width: 100%;
        height: 100%;
        background: black;
        position: absolute;
        opacity: 0.8;
    }
    .form form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form input {
        margin-bottom: 15px;
    }
    .ship_block {
        display: block !important;
        width: 100% !important;
    }
    .left {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .ship_block img {
        width: 100%;
    }
    .completed_left {
        margin-bottom: 50px;
    }
    .swiper-slide {
        width: 75% !important;
        height: 473px;
        position: relative;
    }

    .swiper-slide:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #023838 0%, rgba(2, 56, 56, 0) 100%);
        border-radius: 10px;
        transform: rotate(-180deg);
    }
 .mobile_btn {
    display: block;
}
 .tablet-top {
     display: block;
 }
    .header__logo {
        width: 175px;
    }
 .header__phone,
 .header__location,
 .header__nav{
     display: none !important;
 }
}

/* Laptop */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .custom-row {
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, auto);
        align-items: center;
        justify-content: center;
    }
    .sklad_block {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background: url("../img/skled.png") no-repeat center;
        border-radius: 10px;
        background-size: cover;
        padding: 30px;
        text-align: center;
    }
    .magnet {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
        background: url("../img/magnet.png") no-repeat center;
        background-size: cover;
        margin: 120px 0;
        padding: 30px;
    }

    .magnet:before {
        content: '';
        width: 100%;
        height: 100%;
        background: black;
        position: absolute;
        opacity: 0.8;
    }
    .form form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form input {
        margin-bottom: 15px;
    }
    .tablet-top {
        display: none !important;
    }
    .ship_block {
        display: block !important;
        width: 100% !important;
    }
    .left {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .ship_block img {
        width: 100%;
    }
    .completed_left {
        margin-bottom: 50px;
    }
    .swiper-slide {
        width: 75% !important;
        height: 473px;
        position: relative;
    }

    .swiper-slide:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #023838 0%, rgba(2, 56, 56, 0) 100%);
        border-radius: 10px;
        transform: rotate(-180deg);
    }
}

/* Medium device */
@media only screen and (min-width: 1024px) and (max-width: 1400px){
    body .tablet-top {
        display: none !important;
    }
}

/* Large device */
@media only screen and (min-width: 1400px) and (max-width: 2640px){
    .tablet-top {
        display: none !important;
    }
}
