.catalog {
  &-hidden {

    &-dimensions {
      &-title {
        font-size: 12px;
        line-height: 14px;
        font-family: "Lato";
        margin-bottom: 5px;
        color: rgba(48, 48, 48, 0.4);

      }
      &-text {
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */


        color: #303030;
      }
    }

    &-block {
      opacity: 0;
      position: absolute;
      width: 100%;
      left: 0;
      padding: 10px 40px;
      background: #FFFFFF;
      box-shadow: 0px 50px 50px rgba(48, 48, 48, 0.1);
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      transition: all 0.5s ease-in-out;
      z-index: -1;
      @media (max-width: 567px) {
        display: none;
      }
      .orange-text {
        font-size: 16px;
        line-height: 19px;

        color: #C2811D;
      }
      &-btn {

        a {
          display: block;
          padding: 20px;
          background: #0F7C7C;
          border-radius: 50px;
          font-size: 18px;
          line-height: 22px;
          /* identical to box height */

          text-align: center;

          /* White */

          color: #FFFFFF;
          &:hover {
            transition: all 0.3s ease-in-out;
            background: darken(#0F7C7C, 10%);
            color: #FFFFFF;
            text-decoration: none;

          }
        }

      }
      &-title {
        font-size: 16px;
        line-height: 19px;
        font-family: "Lato";
        color: #303030;
        margin-bottom: 10px;
      }
    }
  }

  &-item {
    position: relative;
    height: 100%;
    padding: 10px 10px;
    transition: all 0.3s ease-in-out;

    @media(max-width: 567px) {
      margin: 20px;
      background: #FFFFFF;
      box-shadow: 0px 0px 50px rgba(48, 48, 48, 0.1);
      border-radius: 20px;
    }
    &:hover {
      transition: all 0.3s ease-in-out;
      background: #FFFFFF;
      box-shadow: 0px 0px 50px rgba(48, 48, 48, 0.1);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      //transform: scale(1.1);
      .js-hover-slider {
        opacity: 1;
        z-index: 99999;
      }
      .catalog-hidden-block {
        opacity: 1;
        z-index: 9999;
        transition: all 0.3s ease-in-out;
      }
    }
    &-mobile-btn {
      display: none;
      @media (max-width: 567px) {
        display: block;
        a {
          padding: 12px;
          font-size: 14px;
        }
      }
    }
    &-img {
      max-height: 145px;
      position: relative;
      padding-bottom: 145px;
      max-width: 306px;
      height: 100%;
      width: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

    }
    &-name {
      max-width: 180px;
      font-size: 28px;
      line-height: 36px;
      color: #023838;
      @media (max-width: 567px){
        padding: 12px 25px 12px 25px;
        font-size: 16px;
      }
    }
  }
  &-list {
    background: #F8F8F8;
    &-tabs {
      display: flex;

      margin: 0;
      padding: 0;
      list-style: none;
      &-item {

        a {
          font-size: 18px;
          line-height: 41px;
          width: 100%;
          height: 100%;
          display: block;
          padding: 10px 30px 10px 30px;
          transition: all 0.3s ease-in-out;
          color: #023838;
          font-family: "Lato";
          @media (max-width: 1330px){
            padding: 12px 25px 12px 25px;
            font-size: 16px;
          }
          &:hover {
            color: #C2811D;
          }

          &.active {
            color: #fff;
            background: #0F7C7C;
          }

        }
      }
    }
  }
}
.js-hover-slider {
  position: absolute;

  width: 100%;
  opacity: 0;
  display: flex;
  height: 100%;
  top: 10px;
  left: 0;
  &-item {
    width: 20%;
    margin: 0 5px;
    border-bottom: 2px solid gray;
    &:hover {
      border-bottom: 2px solid black;
    }
  }
  @media(max-width: 567px) {
    display: none;
  }
}
.price-catalog {
  font-size: 29px;
  line-height: 32px;
  color: #303030;
}
