.detail {
  &-main-description{
    &-title{
      font-family: "Lato";
      font-weight: bold;
      font-size: 24px;
      line-height: 22px;
      color: #023838;
      margin-bottom: 15px;
    }
    &-text{
      font-family: "Lato";
      text-indent: 20px;
      font-size: 17px;
      line-height: 21px;
      color: #303030;
    }
  }
  &-color {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 0 5px
  }
  &-main {
    &-img {
      background-color: #F8F8F8;
      padding-bottom: 60%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-small {
    &-img {
      background-color: #F8F8F8;
      padding-bottom: 60%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-middle {
    &-img {
      background-color: #F8F8F8;
      padding-bottom: 60%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  &-title {
    font-family: "Lato";
    font-size: 42px;
    line-height: 44px;
    color: #0F7C7C;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  &-price {
    font-family: "Lato";
    font-size: 36px;
    line-height: 43px;
    color: #083434;
    margin-bottom: 25px;
    position: relative;
  }
  &-description {

    &-title {
      font-family: "Lato";
      font-weight: bold;
      font-size: 19px;
      line-height: 22px;
      color: #023838;
      margin-bottom: 15px;
    }
    &-text {
      font-family: "Lato";
      font-size: 16px;
      line-height: 21px;
      /* or 150% */


      color: #303030;
      &-bold {
        font-family: "Lato";
        font-size: 15px;
        font-weight: bold;
        line-height: 21px;
        /* or 150% */


        color: #303030;
      }
    }
  }
  &-btn {
    a {
      max-width: 336px;
      display: flex;
      align-items: center;
      padding: 20px 0;
      text-align: center;
      justify-content: center;
      border: 1px solid #0F7C7C;
      box-sizing: border-box;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
      span {
        font-family: "Lato";
        font-size: 16px;
        line-height: 19px;
        color: #0F7C7C;
        margin-left: 15px;

      }
      &:hover {
        background-color: #0F7C7C;
        transition: all 0.3s ease-in-out;
        path {
          fill: white

        }
        span {
          color: white;
        }
      }
    }
  }
}
.modal-detail-form {
  &-bg {
    padding: 20px;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background-color: #2E2E2E;
        opacity: 0.8;
      }
  }
}
.text-md {
  font-size: 18px;
}
.bg-none {
  background-color: transparent;
}
