.favorite-page {
  &-btns {
    .btn {
      border-radius: 20px;
      border: 1px solid #023838;
      padding: 10px 20px;
      &:hover {
        background: #023838;
        color: white;
      }
    }
  }
  &-dimensions {
    &-title {
      font-size: 18px;
      line-height: 14px;
      font-family: "Lato";
      margin-bottom: 5px;
      color: rgba(48, 48, 48, 0.4);

    }
    &-text {
      font-size: 16px;
      line-height: 17px;
      /* identical to box height */


      color: #303030;
    }
  }

  &-block-title {
    font-size: 22px;
    color: #023838;
    margin-bottom: 10px;
  }
  &-item {
    border-bottom: 1px solid #999999;
    padding-bottom: 35px;
    &:hover {
      transition: all 0.3s ease-in-out;
      //transform: scale(1.1);
      .js-hover-slider {
        opacity: 1;
        z-index: 99999;
      }
    }
    &-price {

    }
    &-name {
      font-size: 35px;
      color: #023838;
    }
    &-price{
      font-size: 24px;
      color: #023838;
    }
  }

}
