body {
  font-family: "Lora", Arial;
  font-size: 16px;
  @media (max-width: 1400px) {
    font-size: 14px;
  }
}

.mobile-menu {
  span {
    height: 4px;
    width: 24px;
    background: #023838;
    border-radius: 10px;
    display: block;
    &:nth-child(2n) {
      margin: 3px 0;
    }
  }
}



a {
  color: white;
  &:hover{
    text-decoration: none;
  }
}
.breadCrumbs-custom {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 90px;
  @media (max-width: 1335px) {
    margin-bottom: 60px;
  }
  @media (max-width: 567px) {
    margin-bottom: 30px;
  }
  &-item {
    margin-right: 5px;
    a {
      font-family: "Lato", Arial;
      font-size: 18px;
      line-height: 27px;
      color: #999999;
      @media (max-width: 1335px) {
        font-size: 16px;
      }
      @media (max-width: 567px) {
        font-size: 14px;
      }
      &:hover {
        color: #C2811D
      }
    }


    &:after {
      content: "/";
      color: #303030;
    }

    &.active {
      a {
        color: #303030;
        &:hover {
          color: #C2811D
        }
      }
      &:after{
        content: ""
      }

    }
  }
}
.mobile-menu {
  &-close {
    width: 25px;
    position: absolute;
    right: 20px;
    top: 20px
  }
  ul {
    margin-top: 30px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 30px;

    li {
      margin-bottom: 30px;
      &.active{
        a {
          color: #C2811D;
        }
      }
      a{
        font-size: 18px;
        color: #023838;

      }
    }
  }
}


//preloader samvel
//#preloader {
//  width: 100vw;
//  position: fixed;
//  top: 0;
//  background: #000000;
//  height: 100vh;
//  overflow: hidden;
//  z-index: 10000000000000;
//}
//
//.custom-animation {
//  animation: hidePreloader  1s normal forwards linear;
//}
//.custom-animation-fade-in {
//  animation: showTestPreloader 1s normal forwards linear;
//}
//
//@keyframes hidePreloader {
//  0% {
//    transform: translateX(40px);
//    opacity: 1;
//  }
//  50% {
//    transform: translateX(80px);
//    opacity: 0.5;
//  }
//  100% {
//    transform: translateX(120px);
//    opacity: 0;
//  }
//
//}
//
//@keyframes showTestPreloader {
//  0% {
//    transform: translateX(-100%);
//  }
//  50% {
//    transform: translateX(-50%);
//  }
//  100% {
//    transform: translateX(0%);
//  }
//
//}
//#word {
//  transform: translateX(-100%);
//}
//.preloader-content {
//  overflow: hidden;
//
//}
//#wordZ{
//  position: absolute;
//}
//
//@keyframes hidePreloader {
//  0% {
//    transform: translateX(40px);
//    opacity: 1;
//  }
//  50% {
//    transform: translateX(80px);
//    opacity: 0.5;
//  }
//  100% {
//    transform: translateX(120px);
//    opacity: 0;
//  }
//
//}
