.project {
  &-bg {
    height: 246px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      border-radius: 20px;
      width: 100%;
      height: 100%;
      background-color: #2E2E2E;
      opacity: 0.5;
    }
  }
  &-hover-block {
    position: absolute;
    bottom: 30px;
    left: 30px;
    transform: translateY(150%);
    transition: all 0.3s ease-in-out;
  }
  &-item {
      position: relative;
      overflow: hidden;
    &:hover {
      .project-hover-block {
        transform: translateY(0);
      }
    }
    &-name {
      color: white;
      font-size: 22px;
      margin-bottom: 10px;
    }
    &-price {
      color: white;
      font-size: 18px;
      margin-bottom: 10px;
    }
    &-btn {
      a {
        border: 1px solid white;
        padding: 10px 10px;
        display: block;
        text-align: center;
        border-radius: 20px;
        &:hover {
          background-color: white;
          color: #0F7C7C;

        }
      }
    }
  }
}
