.reviews {
  &-block {
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 30px;
    float: right;
    margin-bottom: 30px;
    &:before{
      content: "";
      clear: both;
    }
  }
  &-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #023838;
    margin-bottom: 5px;
  }
  &-date {
    font-size: 12px;
    line-height: 27px;
    color: #C4C4C4;
    margin-bottom: 15px;
  }
  &-text {
    font-size: 14px;
    line-height: 27px;
    color: #303030;
  }
}
