body .tablet-top {
  display: none !important;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background: #F8F8F8;
}

.tab-location img {
  margin-right: 10px;
}

.tab-location {
  font-size: 14px;
  color: #023838;
}

.tab-phone {
  font-weight: bold;
  color: #023838;
  font-size: 16px;
}
.left a:hover {
  color: #C2811D;
}
.mobile_call {
  display: none;
}

.mobile_btn {
  display: none;
  position: relative;
  width: 30px;
  height: 4px;
  background: #023838;
  border-radius: 10px;
}

.mobile_btn:before {
  top: -10px;
  position: absolute;
  content: '';
  width: 30px;
  height: 4px;
  background: #023838;
  border-radius: 10px;
}

.mobile_btn:after {
  bottom: -10px;
  position: absolute;
  content: '';
  width: 30px;
  height: 4px;
  background: #023838;
  border-radius: 10px;
}

.header_wrapper {
  width: 100%;
  height: 90px;
  background: #fff;
  position: sticky;
  background: white;
  z-index: 9999;
  top: 0;
}

.shadow-header {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.header-block {
  /*height: 90px;*/
}

.header {
  width: 100%;
  height: 100%;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 215px;
  height: 70px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.header__logo:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.header__location:hover span {
  color: #C2811D
}

.header__location img,
.header__favorite img,
.header__phone img{
  margin-right: 10px;
}

.header__favorite {
  padding: 0 25px;
}

.header__location span{
  color: #023838;
}

.header__favorite span {
  color: #C2811D;
}

.header__nav {
  display: flex;
  align-items: center;
}
.header__nav li {
  position: relative;
  list-style-type: none;
  margin-right: 45px;
}

.header__nav li:last-child {
  margin-right: 0;
}

.header__nav li:before {
  position: absolute;
  bottom: -9px;
  content: '';
  width: 0;
  height: 3px;
  background: #C2811D;
  border-radius: 10px;
}
.header__nav li.active > a {
  color: #C2811D;
}
.header__nav li.active:before {
  width: 100%;
}

.header__nav li:hover:before {
  width: 100%;
  transition: all 0.3s ease;
}

.header__nav li > a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #023838;
}

.header__logo img {
  max-width: 100%;
}

.header__nav li > a:hover {
  color: #C2811D;
}

.header__call a {
  padding: 10px 15px;
  border: 1px solid #023838;
  border-radius: 30px;
  text-decoration: none;
  color: #023838;
  font-weight: normal;
}

.header__call a:hover {
  background: #023838;
  color: #fff;
}

.slider_section {
  position: relative;
  width: 100%;
  height: calc(100vh - 85px);
  background: linear-gradient(118.38deg, #023838 0%, #0F7C7C 100%);
}

.slider_section:before {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  content: '';
  background: url("../img/bg-spreads/circles.svg") center no-repeat;
}

.first_block {
  position: relative;
  z-index: 1;
}

.flex-container {
  font-family: 'Lora', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: calc(100vh - 85px);
}

.flex-container h3 {
  font-size: 50px;
  color: #fff;
}

.flex-container p {
  color: #fff;
  font-size: 21px;
  padding: 15px 0;
}

.flex-container button {
  width: 170px;
  height: 45px;
  background: #fff;
  color: #023838;
  border: none;
  border-radius: 100px;
  margin-top: 15px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.flex-container button:hover {
  background: #C2811D;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.slick-slider {
  width: 570px;
  outline: none !important;
}

.flex-container img {
  position: relative;
  z-index: 1;
  height: calc(100vh - 85px);
}

.slick-slide {
  outline: none;
}

.second_block img {
  width: 100%;
}

.section_title_green, .section_title_light {
  font-family: 'Lora', sans-serif;
  width: 100%;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 90px;
}

.section_title_green h3 {
  font-size: 48px;
  color: #023838;
}

.section_title_light h3 {
  font-size: 48px;
  color: #fff;
}

.catalog_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 20px;
}

.catalog_section:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: contain;
  background: url("../img/bg-spreads/circles.svg") no-repeat bottom;
}

.custom-row {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: space-between;
}

.custom-row .block p {
  text-align: center;
  margin: 30px 0;
  font-size: 24px;
  color: #023838;
}

.custom-row:last-child {
  margin: 50px 0;
}

.block {
  width: 275px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

.more_btn {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}

.block img {
  height: 120px;
}

.block:hover {
  background: white;
  box-shadow: 0px 5px 50px rgba(48, 48, 48, 0.1);
}

.block:hover .more_btn {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  visibility: visible;
}

.block button {
  width: 200px;
  height: 40px;
  border-radius: 100px;
  border: none;
  text-align: center;
  background: #FEB970;
  outline: none;
}

.block button:hover {
  background: #fea849;
}

.news {
  width: 100%;
  height: 100%;
  background: #023838;
}

.news_block img {
  width: 100%;
  border-radius: 10px;
}

.news_block {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.news_block_mini {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
}
.news_block_mini:hover img {
  transform: scale(1.1);
}
/*.news_block_right:hover img {*/
/*  transform: scale(1.1);*/
/*}*/

.news_block_mini img {
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.news_block_mini:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
  border-radius: 10px;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
.news_block_mini:hover:before {
  opacity: 0.2;
}

.news_block:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
  z-index: 999;
  border-radius: 10px;
}

.data {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 15px;
  z-index: 999;
  padding-right: 150px;
}

.data h3 {
  font-size: 22px;
  font-weight: bold;
}

.data, .data_mini p {
  font-size: 14px;
}

.data_mini {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 15px;
  padding-right: 35px;
  z-index: 999;
}

.data_mini h3 {
  font-size: 13px;
  font-weight: bold;
}

.news_block_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.news_block_right {
  width: 100%;
  height: 14%;
  margin-bottom: 23px;
  position: relative;
  overflow: hidden ;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.news_block_right:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.2;
  border-radius: 10px;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
.news_block_right:hover:before {
  opacity: 0.2;
}
.news_block_right:hover {
  transform: scale(1.05);
}

.completed_project {
  padding: 120px 0;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.swiper-slide {
  width: 338px;
  height: 473px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.swiper-slide:hover img {
  transform: scale(1.1);
}

.swiper-slide:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #023838 0%, rgba(2, 56, 56, 0) 100%);
  border-radius: 10px;
  z-index: 11111;
  transform: rotate(-180deg);
}

.completed_left {
  padding-left: 100px;
  font-family: 'Lora', sans-serif;
}

.completed_left h3 {
  color: #023838;
  font-size: 36px;
  padding-right: 15px;
}

.completed_left p {
  margin-top: 15px;
  font-family: 'Lato', sans-serif;
  padding-right: 122px;
}

.completed_left a {
  width: 245px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0F7C7C;
  border-radius: 50px;
  border: none;
  color: #fff;
  outline: none;
 margin-top: 25px;
  transition: all 0.3s ease-in-out;
}

.completed_left a:hover {
  color: white;
  background: #0A4343;
}

.ship_block {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  background: #023838;
  padding: 30px;
  border-radius: 10px;
}

.left {
  margin-right: 175px;
  text-align: center;
}

.left h3 {
  font-family: 'Lora', sans-serif;
  font-weight: normal;
  font-size: 48px;
  color: #fff;
}

.left button {
  width: 245px;
  height: 66px;
  background: #FFFFFF;
  border-radius: 50px;
  outline: none;
  border: none;
}

.magnet {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 300px;
  background: url("../img/magnet.png") no-repeat center;
  background-size: cover;
  margin: 120px 0;
}

.magnet:before {
  content: '';
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  opacity: 0.8;
}

.content {
  position: relative;
  z-index: 100;
  text-align: center;
  color: #fff;
}

.content h3 {
  font-family: 'Lora', sans-serif;
  font-size: 48px;
  font-weight: normal;
}

.content p {
  color: #E5E5E5;
  font-size: 16px;
  font-weight: lighter;
  padding-bottom: 20px;
}

.content input {
  width: 210px;
  height: 45px;
  margin-right: 30px;
  background: none;
  border: 1px solid #E5E5E5;
  border-radius: 100px;
  outline: none;
  padding-left: 15px;
  color: #fff;
}

.content button {
  width: 210px;
  height: 45px;
  margin-right: 30px;
  background: rgba(254, 185, 112, 1);
  border-radius: 100px;
  outline: none;
  color: rgba(2, 56, 56, 1);
  border: none;
}

.form form {
  display: flex;
}


.sklad_block {
  height: 100%;
  margin: 0 auto;
  background: no-repeat center;
  border-radius: 10px;
  background-size: cover;
  padding: 30px;
}

.sklad_left {
  color: #fff;
  padding: 30px;
}

.sklad_left h3 {
  font-family: 'Lora', sans-serif;
  font-weight: lighter;
  font-size: 48px;
}

.sklad_left button {
  width: 245px;
  height: 66px;
  background: #FFFFFF;
  border-radius: 50px;
  outline: none;
  border: none;
}

.footer {
  width: 100%;
  height: auto;
  background: #d8d8d8;
  margin-top: 120px;
  padding: 35px;
}

.footer h3 {
  font-family: 'Lora', sans-serif;
  font-size: 22px;
  color: #023838;
}

.map img {
  width: 100%;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer li {
  list-style: none;
  line-height: 35px;
}

.footer li > a {
  font-weight: 500;
  text-decoration: none;
  color: #303030;
  font-size: 16px;
}

.swiper-button-next, .swiper-button-prev {
  display: none;
}
.news_block_mini_img {
  height: 455px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}
.news_block:hover .news_block_mini_img {
  transform: scale(1.1);
}

.news_block:hover:before {
  opacity: 0.2;
}



.mobile-menu {
  display: none;
}

.mobile-menu span {
  height: 4px;
  width: 24px;
  background: #023838;
  border-radius: 10px;
  display: block;
}

.mobile-menu span:nth-child(2n) {
  margin: 3px 0;
}

@media (max-width: 1400px) {
  .content h3 {
    font-size: 24px;
    line-height: 31px;
  }
  .header__logo {
    width: 150px;
  }
  .header__nav li > a {

    font-size: 14px;
  }
  .section_title_light h3 {
    font-size: 40px;
  }
  .section_title_green h3 {
    font-size: 40px;
  }
}
@media (max-width: 1200px) {
  .header__logo {
    width: 120px;
  }
  .header__nav li > a {

    font-size: 13px;
  }
  .section_title_light h3 {
    font-size: 37px;
  }
  .section_title_green h3 {
    font-size: 37px;
  }
}
@media (max-width: 1135px) {
  .custom-row{
    grid-template-columns: repeat(2, auto);
  }

  .header_wrapper {
    height: 60px;
    top: 60px
  }
  body .header__phone{
    display: none !important;
  }
  body .header__location{
    display: none !important;
  }
  body .tablet-top{
    display: flex !important;
    position: sticky;
    top: 0;
    z-index: 9999999999;
  }
  .mobile-menu {
   display: block;
  }
  body .header__nav {
    display: none !important;
  }
}
@media (max-width: 765px) {
  .custom-row{
    justify-content: center;
    grid-template-columns: repeat(1, auto);
  }

}



@media (max-width: 567px) {
  .footer{
    margin-top: 30px;
  }
  .news {
    padding-bottom: 10px;
  }
  .magnet {
    height: auto;
  }
  .magnet form input  {
    margin-right: 0;
  }
  .magnet form button {
    margin-right: 0;
  }
  .swiper-button-next, .swiper-button-prev {
    display: flex;
    bottom: -50px;
    align-items: center;
    justify-content: center;
    top: auto;
  }
  .swiper-button-prev:after {
    color:  #023838;
    font-size: 25px;
  }
  .swiper-button-next:after {
    color:  #023838;
    font-size: 25px;
  }
  .completed_project {
    text-align: center;
    padding: 60px 0;
  }
  .news_block_mini_img {
    height: 115px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .completed_left p {
    text-align: center;
    padding-right: 0
  }
  .news-link {
    padding: 20px;
    font-size: 14px;
    line-height: 17px;
    margin: 10px auto;
    /* identical to box height */


    color: #FFFFFF;
    max-width: 160px;
    display: block;
    text-align: center;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
  }
  .custom-row .block .more_btn {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    visibility: visible;
  }
  .news_block:before {
    content: none;
  }
  .news_block img {
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
  }

  .news_block {
    background: #F8F8F8;
    border-radius: 10px;
  }
  .news_block .data {
    padding-right: 0;
    padding: 12px;
    position: relative;

    left: 0;
  }
  .news_block .data a{
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #303030;

    opacity: 0.4;
  }
  .news_block .data h3 {
    font-size: 14px;
    line-height: 18px;

    color: #023838;
  }

  .news_block .data p {
    font-size: 12px;
    line-height: 14px;

    color: #303030;
  }
  .custom-row .block {
    background: white;
    box-shadow: 0px 5px 50px rgba(48, 48, 48, 0.1);
    margin-bottom: 20px;
  }
  .custom-row .block .more_btn{
    background: #0F7C7C;
    color: white;
  }
  .first_block {
    text-align: center;
  }
  .mobile_call {
    display: block;
    margin-left: 80px;
  }
  body .header__favorite {
    display: none !important;
  }
  body .tablet-top {
    display: none !important;
  }
  .header_wrapper {
    height: 60px;
    top: 0
  }
  .flex-container{
    flex-direction: column;
    justify-content: center;
  }
  .completed_left {
    padding-left: 0;
  }
  .flex-container img{
    height: calc(50vh - 85px);
  }
  .flex-container h3{
    font-size: 24px;
  }
  .flex-container p{
    font-size: 15px;
  }
  .tab-location {
    font-size: 12px;
    max-width: 150px;
  }
  .tab-location img {
    width: 16px;

  }
  .sklad {
    display: none;
  }
  .ship {
    margin-top: 50px;
  }
  .ship .left {
    margin-right: 0;
  }
  .tab-phone {
   font-size: 12px;
  }
  .tab-phone img {
    width: 16px;
  }
.second_block {
  width: 100%;
}
}
/*.nav-item:hover .dropdown-menu{ display: block; }*/
.news_block {
  overflow: hidden;
  z-index: 99;
  border-radius: 20px
}
